<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Themepixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../../../public/assets/publisher/assets/img/favicon.png">

    <title>DashByte - Premium Dashboard Template</title>

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="../../../../public/assets/publisher/lib/remixicon/fonts/remixicon.css">
    <link rel="stylesheet" href="../../../../public/assets/publisher/lib/apexcharts/apexcharts.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../../../../public/assets/publisher/assets/css/style.min.css">
  </head>
  <body>

    <div class="sidebar">
      <div class="sidebar-header">
        <a href="../" class="sidebar-logo">dashbyte</a>
      </div><!-- sidebar-header -->
      <div id="sidebarMenu" class="sidebar-body">
        <div class="nav-group show">
          <a href="#" class="nav-label">Dashboard</a>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="../dashboard-rtl/finance.html" class="nav-link"><i class="ri-pie-chart-2-line"></i> <span>Finance Monitoring</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard-rtl/events.html" class="nav-link"><i class="ri-calendar-todo-line"></i> <span>Events Management</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard-rtl/sales.html" class="nav-link"><i class="ri-shopping-bag-3-line"></i> <span>Sales Monitoring</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard-rtl/analytics.html" class="nav-link"><i class="ri-bar-chart-2-line"></i> <span>Website Analytics</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard-rtl/crypto.html" class="nav-link"><i class="ri-coin-line"></i> <span>Cryptocurrency</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard-rtl/helpdesk.html" class="nav-link"><i class="ri-service-line"></i> <span>Helpdesk Service</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard-rtl/storage.html" class="nav-link active"><i class="ri-hard-drive-2-fill"></i> <span>Storage Management</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard-rtl/product.html" class="nav-link"><i class="ri-suitcase-2-line"></i> <span>Product Management</span></a>
            </li>
          </ul>
        </div><!-- nav-group -->
        <div class="nav-group show">
          <a href="#" class="nav-label">Applications</a>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="../apps-rtl/file-manager.html" class="nav-link"><i class="ri-folder-2-line"></i> <span>File Manager</span></a>
            </li>
            <li class="nav-item">
              <a href="../apps-rtl/email.html" class="nav-link"><i class="ri-mail-send-line"></i> <span>Email</span></a>
            </li>
            <li class="nav-item">
              <a href="../apps-rtl/calendar.html" class="nav-link"><i class="ri-calendar-line"></i> <span>Calendar</span></a>
            </li>
            <li class="nav-item">
              <a href="../apps-rtl/chat.html" class="nav-link"><i class="ri-question-answer-line"></i> <span>Chat</span></a>
            </li>
            <li class="nav-item">
              <a href="../apps-rtl/contact.html" class="nav-link"><i class="ri-contacts-book-line"></i> <span>Contacts</span></a>
            </li>
            <li class="nav-item">
              <a href="../apps-rtl/tasks.html" class="nav-link"><i class="ri-checkbox-multiple-line"></i> <span>Task Manager</span></a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-gallery-line"></i> <span>Media Gallery</span></a>
              <nav class="nav nav-sub">
                <a href="../apps-rtl/gallery-music.html" class="nav-sub-link">Music Stream</a>
                <a href="../apps-rtl/gallery-video.html" class="nav-sub-link">Video Stream</a>
              </nav>
            </li>
          </ul>
        </div><!-- nav-group -->
        <div class="nav-group show">
          <a href="#" class="nav-label">Pages</a>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-account-circle-line"></i> <span>User Pages</span></a>
              <nav class="nav nav-sub">
                <a href="../pages-rtl/profile.html" class="nav-sub-link">User Profile</a>
                <a href="../pages-rtl/people.html" class="nav-sub-link">People &amp; Groups</a>
                <a href="../pages-rtl/activity.html" class="nav-sub-link">Activity Log</a>
                <a href="../pages-rtl/events.html" class="nav-sub-link">Events</a>
                <a href="../pages-rtl/settings.html" class="nav-sub-link">Settings</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-lock-2-line"></i> <span>Authentication</span></a>
              <nav class="nav nav-sub">
                <a href="../pages-rtl/sign-in.html" class="nav-sub-link">Sign In Basic</a>
                <a href="../pages-rtl/sign-in-2.html" class="nav-sub-link">Sign In Cover</a>
                <a href="../pages-rtl/sign-up.html" class="nav-sub-link">Sign Up Basic</a>
                <a href="../pages-rtl/sign-up-2.html" class="nav-sub-link">Sign Up Cover</a>
                <a href="../pages-rtl/verify-account.html" class="nav-sub-link">Verify Account</a>
                <a href="../pages-rtl/forgot-password.html" class="nav-sub-link">Forgot Password</a>
                <a href="../pages-rtl/lock-screen.html" class="nav-sub-link">Lock Screen</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-error-warning-line"></i> <span>Error Pages</span></a>
              <nav class="nav nav-sub">
                <a href="../pages-rtl/error-404.html" class="nav-sub-link">Page Not Found</a>
                <a href="../pages-rtl/error-500.html" class="nav-sub-link">Internal Server Error</a>
                <a href="../pages-rtl/error-503.html" class="nav-sub-link">Service Unavailable</a>
                <a href="../pages-rtl/error-505.html" class="nav-sub-link">Forbidden</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-file-text-line"></i> <span>Other Pages</span></a>
              <nav class="nav nav-sub">
                <a href="../pages-rtl/pricing.html" class="nav-sub-link">Pricing</a>
                <a href="../pages-rtl/faq.html" class="nav-sub-link">FAQ</a>
              </nav>
            </li>
          </ul>
        </div><!-- nav-group -->
        <div class="nav-group show mb-3">
          <a href="#" class="nav-label">UI Elements</a>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-pencil-ruler-2-line"></i> <span>Getting Started</span></a>
              <nav class="nav nav-sub">
                <a href="../../../../public/assets/publisher/docs/layout-grid.html" class="nav-sub-link">Grid System</a>
                <a href="../../../../public/assets/publisher/docs/layout-columns.html" class="nav-sub-link">Columns</a>
                <a href="../../../../public/assets/publisher/docs/layout-gutters.html" class="nav-sub-link">Gutters</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-suitcase-line"></i> <span>Components</span></a>
              <nav class="nav nav-sub">
                <a href="../../../../public/assets/publisher/docs/com-accordion.html" class="nav-sub-link">Accordion</a>
                <a href="../../../../public/assets/publisher/docs/com-alerts.html" class="nav-sub-link">Alerts</a>
                <a href="../../../../public/assets/publisher/docs/com-avatars.html" class="nav-sub-link">Avatars</a>
                <a href="../../../../public/assets/publisher/docs/com-badge.html" class="nav-sub-link">Badge</a>
                <a href="../../../../public/assets/publisher/docs/com-breadcrumbs.html" class="nav-sub-link">Breadcrumbs</a>
                <a href="../../../../public/assets/publisher/docs/com-buttons.html" class="nav-sub-link">Buttons</a>
                <a href="../../../../public/assets/publisher/docs/com-cards.html" class="nav-sub-link">Cards</a>
                <a href="../../../../public/assets/publisher/docs/com-carousel.html" class="nav-sub-link">Carousel</a>
                <a href="../../../../public/assets/publisher/docs/com-collapse.html" class="nav-sub-link">Collapse</a>
                <a href="../../../../public/assets/publisher/docs/com-dropdown.html" class="nav-sub-link">Dropdown</a>
                <a href="../../../../public/assets/publisher/docs/com-images.html" class="nav-sub-link">Images</a>
                <a href="../../../../public/assets/publisher/docs/com-listgroup.html" class="nav-sub-link">List Group</a>
                <a href="../../../../public/assets/publisher/docs/com-markers.html" class="nav-sub-link">Markers</a>
                <a href="../../../../public/assets/publisher/docs/com-modal.html" class="nav-sub-link">Modal</a>
                <a href="../../../../public/assets/publisher/docs/com-navtabs.html" class="nav-sub-link">Navs &amp; Tabs</a>
                <a href="../../../../public/assets/publisher/docs/com-offcanvas.html" class="nav-sub-link">Offcanvas</a>
                <a href="../../../../public/assets/publisher/docs/com-pagination.html" class="nav-sub-link">Pagination</a>
                <a href="../../../../public/assets/publisher/docs/com-placeholders.html" class="nav-sub-link">Placeholders</a>
                <a href="../../../../public/assets/publisher/docs/com-popovers.html" class="nav-sub-link">Popovers</a>
                <a href="../../../../public/assets/publisher/docs/com-progress.html" class="nav-sub-link">Progress</a>
                <a href="../../../../public/assets/publisher/docs/com-scrollspy.html" class="nav-sub-link">Scrollspy</a>
                <a href="../../../../public/assets/publisher/docs/com-spinners.html" class="nav-sub-link">Spinners</a>
                <a href="../../../../public/assets/publisher/docs/com-toasts.html" class="nav-sub-link">Toasts</a>
                <a href="../../../../public/assets/publisher/docs/com-tooltips.html" class="nav-sub-link">Tooltips</a>
                <a href="../../../../public/assets/publisher/docs/com-tables.html" class="nav-sub-link">Tables</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-list-check-2"></i> <span>Forms</span></a>
              <nav class="nav nav-sub">
                <a href="../../../../public/assets/publisher/docs/form-elements.html" class="nav-sub-link">Text Elements</a>
                <a href="../../../../public/assets/publisher/docs/form-selects.html" class="nav-sub-link">Selects</a>
                <a href="../../../../public/assets/publisher/docs/form-checksradios.html" class="nav-sub-link">Checks &amp; Radios</a>
                <a href="../../../../public/assets/publisher/docs/form-tagsmasks.html" class="nav-sub-link">Tags &amp; Masks</a>
                <a href="../../../../public/assets/publisher/docs/form-range.html" class="nav-sub-link">Range</a>
                <a href="../../../../public/assets/publisher/docs/form-pickers.html" class="nav-sub-link">Pickers</a>
                <a href="../../../../public/assets/publisher/docs/form-wizards.html" class="nav-sub-link">Wizards</a>
                <a href="../../../../public/assets/publisher/docs/form-layouts.html" class="nav-sub-link">Layouts</a>
                <a href="../../../../public/assets/publisher/docs/form-validation.html" class="nav-sub-link">Validation</a>
                <a href="../../../../public/assets/publisher/docs/form-editors.html" class="nav-sub-link">Editors</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-bar-chart-2-line"></i> <span>Charts &amp; Graphs</span></a>
              <nav class="nav nav-sub">
                <a href="../../../../public/assets/publisher/docs/chart-flot.html" class="nav-sub-link">Flot</a>
                <a href="../../../../public/assets/publisher/docs/chart-apex.html" class="nav-sub-link">Apexcharts</a>
                <a href="../../../../public/assets/publisher/docs/chart-chartjs.html" class="nav-sub-link">Chartjs</a>
                <a href="../../../../public/assets/publisher/docs/chart-peity.html" class="nav-sub-link">Peity</a>
                <a href="../../../../public/assets/publisher/docs/chart-morris.html" class="nav-sub-link">Morris</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-stack-line"></i> <span>Maps &amp; Icons</span></a>
              <nav class="nav nav-sub">
                <a href="../../../../public/assets/publisher/docs/map-leaflet.html" class="nav-sub-link">Leaflet Maps</a>
                <a href="../../../../public/assets/publisher/docs/map-vector.html" class="nav-sub-link">Vector Maps</a>
                <a href="../../../../public/assets/publisher/docs/icon-remix.html" class="nav-sub-link">Remixicon</a>
                <a href="../../../../public/assets/publisher/docs/icon-feather.html" class="nav-sub-link">Feathericons</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-briefcase-4-line"></i> <span>Utilities</span></a>
              <nav class="nav nav-sub">
                <a href="../../../../public/assets/publisher/docs/util-animation.html" class="nav-sub-link">Animation</a>
                <a href="../../../../public/assets/publisher/docs/util-background.html" class="nav-sub-link">Background</a>
                <a href="../../../../public/assets/publisher/docs/util-border.html" class="nav-sub-link">Border</a>
                <a href="../../../../public/assets/publisher/docs/util-colors.html" class="nav-sub-link">Colors</a>
                <a href="../../../../public/assets/publisher/docs/util-divider.html" class="nav-sub-link">Divider</a>
                <a href="../../../../public/assets/publisher/docs/util-flex.html" class="nav-sub-link">Flex</a>
                <a href="../../../../public/assets/publisher/docs/util-sizing.html" class="nav-sub-link">Sizing</a>
                <a href="../../../../public/assets/publisher/docs/util-spacing.html" class="nav-sub-link">Spacing</a>
                <a href="../../../../public/assets/publisher/docs/util-opacity.html" class="nav-sub-link">Opacity</a>
                <a href="../../../../public/assets/publisher/docs/util-position.html" class="nav-sub-link">Position</a>
                <a href="../../../../public/assets/publisher/docs/util-typography.html" class="nav-sub-link">Typography</a>
                <a href="../../../../public/assets/publisher/docs/util-shadows.html" class="nav-sub-link">Shadows</a>
                <a href="../../../../public/assets/publisher/docs/util-extras.html" class="nav-sub-link">Extras</a>
              </nav>
            </li>
          </ul>
        </div><!-- nav-group -->
      </div><!-- sidebar-body -->
      <div class="sidebar-footer">
        <div class="sidebar-footer-top">
          <div class="sidebar-footer-thumb">
            <img src="../../../../public/assets/publisher/assets/img/img1.jpg" alt="">
          </div><!-- sidebar-footer-thumb -->
          <div class="sidebar-footer-body">
            <h6><a href="../pages-rtl/profile.html">Shaira Diaz</a></h6>
            <p>Premium Member</p>
          </div><!-- sidebar-footer-body -->
          <a id="sidebarFooterMenu" href="" class="dropdown-link"><i class="ri-arrow-down-s-line"></i></a>
        </div><!-- sidebar-footer-top -->
        <div class="sidebar-footer-menu">
          <nav class="nav">
            <a href=""><i class="ri-edit-2-line"></i> Edit Profile</a>
            <a href=""><i class="ri-profile-line"></i> View Profile</a>
          </nav>
          <hr>
          <nav class="nav">
            <a href=""><i class="ri-question-line"></i> Help Center</a>
            <a href=""><i class="ri-lock-line"></i> Privacy Settings</a>
            <a href=""><i class="ri-user-settings-line"></i> Account Settings</a>
            <a href=""><i class="ri-logout-box-r-line"></i> Log Out</a>
          </nav>
        </div><!-- sidebar-footer-menu -->
      </div><!-- sidebar-footer -->
    </div><!-- sidebar -->

    <div class="header-main px-3 px-lg-4">
      <a id="menuSidebar" href="#" class="menu-link ms-3 ms-lg-4"><i class="ri-menu-2-fill"></i></a>

      <div class="form-search ms-auto">
        <input type="text" class="form-control" placeholder="Search">
        <i class="ri-search-line"></i>
      </div><!-- form-search -->

      <div class="dropdown dropdown-skin">
        <a href="" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><i class="ri-settings-3-line"></i></a>
        <div class="dropdown-menu mt-10-f">
          <label>Skin Mode</label>
          <nav id="skinMode" class="nav nav-skin">
            <a href="" class="nav-link active">Light</a>
            <a href="" class="nav-link">Dark</a>
          </nav>
          <hr>
          <label>Sidebar Skin</label>
          <nav id="sidebarSkin" class="nav nav-skin">
            <a href="" class="nav-link active">Default</a>
            <a href="" class="nav-link">Prime</a>
            <a href="" class="nav-link">Dark</a>
          </nav>
          <hr>
          <label>Direction</label>
          <nav id="layoutDirection" class="nav nav-skin">
            <a href="" class="nav-link">LTR</a>
            <a href="" class="nav-link active">RTL</a>
          </nav>
        </div><!-- dropdown-menu -->
      </div><!-- dropdown -->

      <div class="dropdown dropdown-notification me-3 me-xl-4">
        <a href="" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><small>3</small><i class="ri-notification-3-line"></i></a>
        <div class="dropdown-menu mt-10-f me--10-f">
          <div class="dropdown-menu-header">
            <h6 class="dropdown-menu-title">Notifications</h6>
          </div><!-- dropdown-menu-header -->
          <ul class="list-group text-end">
            <li class="list-group-item">
              <div class="avatar online"><img src="../../../../public/assets/publisher/assets/img/img10.jpg" alt=""></div>
              <div class="list-group-body">
                <p><strong>Dominador Manuel</strong> and <strong>100 other people</strong> reacted to your comment "Tell your partner that...</p>
                <span>Aug 20 08:55am</span>
              </div><!-- list-group-body -->
            </li>
            <li class="list-group-item">
              <div class="avatar online"><img src="../../../../public/assets/publisher/assets/img/img11.jpg" alt=""></div>
              <div class="list-group-body">
                <p><strong>Angela Ighot</strong> tagged you and <strong>9 others</strong> in a post.</p>
                <span>Aug 18 10:30am</span>
              </div><!-- list-group-body -->
            </li>
            <li class="list-group-item">
              <div class="avatar"><span class="avatar-initial bg-primary">a</span></div>
              <div class="list-group-body">
                <p>New listings were added that match your search alert <strong>house for rent</strong></p>
                <span>Aug 15 08:10pm</span>
              </div><!-- list-group-body -->
            </li>
            <li class="list-group-item">
              <div class="avatar online"><img src="../../../../public/assets/publisher/assets/img/img14.jpg" alt=""></div>
              <div class="list-group-body">
                <p>Reminder: <strong>Jerry Cuares</strong> invited you to like <strong>Cuares Surveying Services</strong>. <br><a href="">Accept</a> or <a href="">Decline</a></p>
                <span>Aug 14 11:50pm</span>
              </div><!-- list-group-body -->
            </li>
            <li class="list-group-item">
              <div class="avatar online"><img src="../../../../public/assets/publisher/assets/img/img15.jpg" alt=""></div>
              <div class="list-group-body">
                <p><strong>Dyanne Aceron</strong> reacted to your post <strong>King of the Bed</strong>.</p>
                <span>Aug 10 05:30am</span>
              </div><!-- list-group-body -->
            </li>
          </ul>
          <div class="dropdown-menu-footer"><a href="">Show all Notifications</a></div>
        </div><!-- dropdown-menu -->
      </div><!-- dropdown -->
      <div class="dropdown dropdown-profile me-3 me-xl-4">
          <a href="" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><div class="avatar online"><img src="../../../../public/assets/publisher/assets/img/img1.jpg" alt=""></div></a>
          <div class="dropdown-menu mt-10-f">
            <div class="dropdown-menu-body text-end">
              <div class="avatar avatar-xl online mb-3"><img src="../../../../public/assets/publisher/assets/img/img1.jpg" alt=""></div>
              <h5 class="mb-1 text-dark fw-semibold">Shaira Diaz</h5>
              <p class="fs-sm text-secondary">Premium Member</p>

              <nav class="nav">
                <a href=""><i class="ri-edit-2-line"></i> Edit Profile</a>
                <a href=""><i class="ri-profile-line"></i> View Profile</a>
              </nav>
              <hr>
              <nav class="nav">
                <a href=""><i class="ri-question-line"></i> Help Center</a>
                <a href=""><i class="ri-lock-line"></i> Privacy Settings</a>
                <a href=""><i class="ri-user-settings-line"></i> Account Settings</a>
                <a href=""><i class="ri-logout-box-r-line"></i> Log Out</a>
              </nav>
            </div><!-- dropdown-menu-body -->
          </div><!-- dropdown-menu -->
      </div><!-- dropdown -->
    </div><!-- header-main -->

    <div class="main main-app p-3 p-lg-4">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div>
          <ol class="breadcrumb fs-sm mb-1">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Storage Management</li>
          </ol>
          <h4 class="main-title mb-0">Welcome to Dashboard</h4>
        </div>

        <div class="d-flex align-items-center gap-2 mt-3 mt-md-0">
          <button type="button" class="btn btn-white btn-icon"><i class="ri-share-line fs-18 lh-1"></i></button>
          <button type="button" class="btn btn-white btn-icon"><i class="ri-printer-line fs-18 lh-1"></i></button>
          <button type="button" class="btn btn-primary d-flex align-items-center gap-2"><i class="ri-bar-chart-2-line fs-18 lh-1"></i>Generate<span class="d-none d-sm-inline"> Report</span></button>
        </div>
      </div>

      <div class="row g-3">
        <div class="col-12 col-sm-6 col-xl">
          <div class="card card-one">
            <div class="card-body p-3">
              <div class="mb-1 text-primary ti--3"><i class="ri-rocket-line fs-48 lh-1"></i></div>
              <h6 class="fw-semibold text-dark mb-1">Applications</h6>
              <p class="fs-xs text-secondary"><span class="ff-numerals">6,320</span> Files</p>
              <div class="progress ht-3 mb-1">
                <div class="progress-bar w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="d-flex justify-content-between ff-numerals fs-xs fw-medium">
                <span>26.5GB</span>
                <span>50GB</span>
              </div>
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-6 col-sm-6 col-xl">
          <div class="card card-one">
            <div class="card-body p-3">
              <div class="mb-1 text-primary ti--3"><i class="ri-file-text-line fs-48 lh-1"></i></div>
              <h6 class="fw-semibold text-dark mb-1">Documents</h6>
              <p class="fs-xs text-secondary"><span class="ff-numerals">4,067</span> Files</p>
              <div class="progress ht-3 mb-1">
                <div class="progress-bar w-40" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="d-flex justify-content-between ff-numerals fs-xs fw-medium">
                <span>8.8GB</span>
                <span>20GB</span>
              </div>
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-6 col-sm-4 col-xl">
          <div class="card card-one">
            <div class="card-body p-3">
              <div class="mb-1 text-primary ti--3"><i class="ri-gallery-line fs-48 lh-1"></i></div>
              <h6 class="fw-semibold text-dark mb-1">Media</h6>
              <p class="fs-xs text-secondary"><span class="ff-numerals">1,983</span> Files</p>
              <div class="progress ht-3 mb-1">
                <div class="progress-bar w-70 bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="d-flex justify-content-between ff-numerals fs-xs fw-medium">
                <span>29.5GB</span>
                <span>40GB</span>
              </div>
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-6 col-sm-4 col-xl">
          <div class="card card-one">
            <div class="card-body p-3">
              <div class="mb-1 text-primary ti--3"><i class="ri-folder-zip-line fs-48 lh-1"></i></div>
              <h6 class="fw-semibold text-dark mb-1">Archives</h6>
              <p class="fs-xs text-secondary"><span class="ff-numerals">3,508</span> Files</p>
              <div class="progress ht-3 mb-1">
                <div class="progress-bar w-85 bg-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="d-flex justify-content-between ff-numerals fs-xs fw-medium">
                <span>26.6GB</span>
                <span>30GB</span>
              </div>
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-6 col-sm-4 col-xl">
          <div class="card card-one">
            <div class="card-body p-3">
              <div class="mb-1 text-primary ti--3"><i class="ri-folder-2-line fs-48 lh-1"></i></div>
              <h6 class="fw-semibold text-dark mb-1">Others</h6>
              <p class="fs-xs text-secondary"><span class="ff-numerals">845</span> Files</p>
              <div class="progress ht-3 mb-1">
                <div class="progress-bar w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="d-flex justify-content-between ff-numerals fs-xs fw-medium">
                <span>5.1GB</span>
                <span>10GB</span>
              </div>
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-xl-8">
          <div class="card card-one">
            <div class="card-header">
              <h6 class="card-title">Data Analytics</h6>
              <nav class="nav nav-icon nav-icon-sm me-auto">
                <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
              </nav>
            </div><!-- card-header -->
            <div class="card-body p-3">
              <div class="row g-3">
                <div class="col-sm-4 col-md-3">
                  <div class="row g-3">
                    <div class="col-4 col-sm-12">
                      <h2 class="card-value ls--1 mb-1">69.8<span class="opacity-75">TB</span></h2>
                      <label class="card-label fw-medium text-secondary fs-sm fs-sm-normal">Total Storage</label>
                    </div>
                    <div class="col-4 col-sm-12">
                      <h2 class="card-value ls--1 mb-1">836.5<span class="opacity-75">K</span></h2>
                      <label class="card-label fw-medium text-secondary fs-sm fs-sm-normal">Object Count</label>
                    </div><!-- col -->
                    <div class="col-4 col-sm-12">
                      <h2 class="card-value ls--1 mb-1">88.1<span class="opacity-75">MB</span></h2>
                      <label class="card-label fw-medium text-secondary fs-sm fs-sm-normal">Avg. Object Size</label>
                    </div><!-- col -->
                  </div><!-- row -->
                </div><!-- col -->
                <div class="col-sm-8 col-md-9">
                  <div id="apexChart1"></div>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-md-6 col-xl-4">
          <div class="card card-one card-daily-trends">
            <div class="card-body p-3">
              <h6 class="card-title fw-semibold text-dark fs-15 mb-1">Daily Trends</h6>
              <p class="text-secondary">CPU Power - <span class="ff-numerals">11/20/2023</span></p>
              <h1 class="card-value">2836 <span>KHz</span></h1>
            </div><!-- card-body -->
            <div id="apexChart2" class="mt-5 mt-md-0"></div>
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-md-6 col-xl-4">
          <div class="card card-one">
            <div class="card-header">
              <h6 class="card-title">Manage Storage</h6>
              <nav class="nav nav-icon nav-icon-sm me-auto">
                <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
              </nav>
            </div><!-- card-header -->
            <div class="card-body p-3">
              <label class="d-block fs-sm mb-2"><span class="ff-numerals">25.93</span> GB available of <span class="ff-numerals">127.18</span> GB</label>
              <div class="progress ht-15 mb-4">
                <div class="progress-bar w-20" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-ui-02 w-15" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-ui-03 w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="storage-item">
                <div class="storage-icon"><i class="ri-rocket-line"></i></div>
                <div class="flex-fill">
                  <div class="d-flex justify-content-between mb-1">
                    <span class="fw-medium">Applications</span>
                    <span class="ff-numerals">25.5 GB</span>
                  </div>
                  <div class="progress ht-5 mb-1">
                    <div class="progress-bar w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="d-flex justify-content-between ff-numerals fs-xs text-secondary">
                    <span>6,320 Files</span>
                    <span>25.4%</span>
                  </div>
                </div><!-- storage-item-body -->
              </div><!-- storage-item -->
              <div class="storage-item">
                <div class="storage-icon"><i class="ri-file-text-line"></i></div>
                <div class="flex-fill">
                  <div class="d-flex justify-content-between mb-1">
                    <span class="fw-medium">Documents</span>
                    <span class="ff-numerals">8.8 GB</span>
                  </div>
                  <div class="progress ht-5 mb-1">
                    <div class="progress-bar w-20" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="d-flex justify-content-between ff-numerals fs-xs text-secondary">
                    <span>4,067 Files</span>
                    <span>21.3%</span>
                  </div>
                </div><!-- storage-item-body -->
              </div><!-- storage-item -->
              <div class="storage-item">
                <div class="storage-icon"><i class="ri-gallery-line"></i></div>
                <div class="flex-fill">
                  <div class="d-flex justify-content-between mb-1">
                    <span class="fw-medium">Media</span>
                    <span class="ff-numerals">29.5 GB</span>
                  </div>
                  <div class="progress ht-5 mb-1">
                    <div class="progress-bar w-40" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="d-flex justify-content-between ff-numerals fs-xs text-secondary">
                    <span>1,983 Files</span>
                    <span>28.6%</span>
                  </div>
                </div><!-- storage-item-body -->
              </div><!-- storage-item -->
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-md-7 col-lg-6 col-xl-4">
          <div class="card card-one">
            <div class="card-body p-4">
              <div class="chart-donut-three mb-4"><canvas id="chartDonut"></canvas></div>
              <div class="row g-3">
                <div class="col-6">
                  <label class="d-block mb-1">Total Space</label>
                  <h2 class="card-value ls--1 mb-0">286.3<span>GB</span></h2>
                </div><!-- col -->
                <div class="col-6">
                  <label class="d-block mb-1">Used Space</label>
                  <h2 class="card-value ls--1 mb-0">198.7<span>GB</span></h2>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-md-5 col-lg-6 col-xl-4">
          <div class="card card-one card-article">
            <div class="card-body">
              <div class="mb-3"><span class="badge bg-ui-02 fs-xs">Latest Article</span></div>
              <h4 class="card-title mb-3">Overhaul Cloud-based Storage Analytics and Monitoring Suite</h4>
              <p class="text-secondary mb-4">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est similique sunt in culpa qui officia deserunt mollitia animi.</p>
              <a href="" class="btn btn-primary">Learn more</a>
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-md-6 col-xl-4">
          <div class="card card-one">
            <div class="card-header">
              <h6 class="card-title">Network In/Out</h6>
              <nav class="nav nav-icon nav-icon-sm me-auto">
                <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
              </nav>
            </div><!-- card-header -->
            <div class="card-body p-3">
              <div class="ht-250"><canvas id="chartPolar"></canvas></div>
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-md-6 col-xl-4">
          <div class="card card-one">
            <div class="card-header">
              <h6 class="card-title">Volume Read/Write Ops</h6>
              <nav class="nav nav-icon nav-icon-sm me-auto">
                <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
              </nav>
            </div><!-- card-header -->
            <div class="card-body p-3">
              <div class="ht-250"><canvas id="chartRadar"></canvas></div>
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-xl-4">
          <div class="card card-one">
            <div class="card-header">
              <h6 class="card-title">CPU Utilization</h6>
              <nav class="nav nav-icon nav-icon-sm me-auto">
                <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
              </nav>
            </div><!-- card-header -->
            <div class="card-body p-3">
              <div class="ht-250"><canvas id="chartLine"></canvas></div>
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-12">
          <div class="card card-one">
            <div class="card-header">
              <h6 class="card-title">Storage Distribution</h6>
              <nav class="nav nav-icon nav-icon-sm me-auto">
                <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
              </nav>
            </div><!-- card-header -->
            <div class="card-body p-3 p-xl-4">
              <div class="row g-4">
                <div class="col-xl-8">
                  <div id="apexChart3" class="apex-chart-eleven"></div>
                </div>
                <div class="col-xl">
                  <div class="d-flex">
                    <i class="ri-drive-fill fs-48 lh-1 ms-3 text-primary"></i>
                    <div>
                      <h6 class="fw-semibold text-dark mb-1">Google Drive</h6>
                      <p class="fs-sm text-secondary mb-0">Google Drive is a file storage and synchronization service that allows users to store files in the cloud, synchronize files across devices, and share files.</p>
                    </div>
                  </div>
                  <div class="d-flex mt-3">
                    <i class="ri-dropbox-fill fs-48 lh-1 ms-3 text-primary"></i>
                    <div>
                      <h6 class="fw-semibold text-dark mb-1">Dropbox</h6>
                      <p class="fs-sm text-secondary mb-0">Dropbox is a file hosting service that offers cloud storage, file synchronization, personal cloud, and client software.</p>
                    </div>
                  </div>
                  <div class="d-flex mt-3">
                    <i class="ri-cloud-fill fs-48 lh-1 ms-3 text-primary"></i>
                    <div>
                      <h6 class="fw-semibold text-dark mb-1">iCloud</h6>
                      <p class="fs-sm text-secondary mb-0">iCloud helps you keep your most important information like photos, files, etc., and available across all your devices.</p>
                    </div>
                  </div>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
      </div><!-- row -->

      <div class="main-footer mt-5">
        <span>&copy; 2023. Dashbyte. All Rights Reserved.</span>
        <span>Created by: <a href="http://themepixels.me" target="_blank">Themepixels</a></span>
      </div><!-- main-footer -->
    </div><!-- main -->

    <script src="../../../../public/assets/publisher/lib/jquery/jquery.min.js"></script>
    <script src="../../../../public/assets/publisher/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../../public/assets/publisher/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../../../public/assets/publisher/lib/chart.js/chart.min.js"></script>
    <script src="../../../../public/assets/publisher/lib/apexcharts/apexcharts.min.js"></script>

    <script src="../../../../public/assets/publisher/assets/js/script.js"></script>
    <script src="../../../../public/assets/publisher/assets/js/db.storage.js"></script>
  </body>
</html>
