<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Themepixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../../../public/assets/publisher/assets/img/favicon.png">

    <title>DashByte - Premium Dashboard Template</title>

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="../../../../public/assets/publisher/lib/remixicon/fonts/remixicon.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../../../../public/assets/publisher/assets/css/style.min.css">
  </head>
  <body>

    <div class="sidebar">
      <div class="sidebar-header">
        <a href="../" class="sidebar-logo">dashbyte</a>
      </div><!-- sidebar-header -->
      <div id="sidebarMenu" class="sidebar-body">
        <div class="nav-group">
          <a href="#" class="nav-label">Dashboard</a>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="../dashboard-rtl/finance.html" class="nav-link"><i class="ri-pie-chart-2-line"></i> <span>Finance Monitoring</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard-rtl/events.html" class="nav-link"><i class="ri-calendar-todo-line"></i> <span>Events Management</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard-rtl/sales.html" class="nav-link"><i class="ri-shopping-bag-3-line"></i> <span>Sales Monitoring</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard-rtl/analytics.html" class="nav-link"><i class="ri-bar-chart-2-line"></i> <span>Website Analytics</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard-rtl/crypto.html" class="nav-link"><i class="ri-coin-line"></i> <span>Cryptocurrency</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard-rtl/helpdesk.html" class="nav-link"><i class="ri-service-line"></i> <span>Helpdesk Service</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard-rtl/storage.html" class="nav-link"><i class="ri-hard-drive-2-line"></i> <span>Storage Management</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard-rtl/product.html" class="nav-link"><i class="ri-suitcase-2-line"></i> <span>Product Management</span></a>
            </li>
          </ul>
        </div><!-- nav-group -->
        <div class="nav-group">
          <a href="#" class="nav-label">Applications</a>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="../apps-rtl/file-manager.html" class="nav-link"><i class="ri-folder-2-line"></i> <span>File Manager</span></a>
            </li>
            <li class="nav-item">
              <a href="../apps-rtl/email.html" class="nav-link"><i class="ri-mail-send-line"></i> <span>Email</span></a>
            </li>
            <li class="nav-item">
              <a href="../apps-rtl/calendar.html" class="nav-link"><i class="ri-calendar-line"></i> <span>Calendar</span></a>
            </li>
            <li class="nav-item">
              <a href="../apps-rtl/chat.html" class="nav-link"><i class="ri-question-answer-line"></i> <span>Chat</span></a>
            </li>
            <li class="nav-item">
              <a href="../apps-rtl/contact.html" class="nav-link"><i class="ri-contacts-book-line"></i> <span>Contacts</span></a>
            </li>
            <li class="nav-item">
              <a href="../apps-rtl/tasks.html" class="nav-link"><i class="ri-checkbox-multiple-line"></i> <span>Task Manager</span></a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-gallery-line"></i> <span>Media Gallery</span></a>
              <nav class="nav nav-sub">
                <a href="../apps-rtl/gallery-music.html" class="nav-sub-link">Music Stream</a>
                <a href="../apps-rtl/gallery-video.html" class="nav-sub-link">Video Stream</a>
              </nav>
            </li>
          </ul>
        </div><!-- nav-group -->
        <div class="nav-group show">
          <a href="#" class="nav-label">Pages</a>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-account-circle-line"></i> <span>User Pages</span></a>
              <nav class="nav nav-sub">
                <a href="../pages-rtl/profile.html" class="nav-sub-link">User Profile</a>
                <a href="../pages-rtl/people.html" class="nav-sub-link">People &amp; Groups</a>
                <a href="../pages-rtl/activity.html" class="nav-sub-link">Activity Log</a>
                <a href="../pages-rtl/events.html" class="nav-sub-link">Events</a>
                <a href="../pages-rtl/settings.html" class="nav-sub-link">Settings</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-lock-2-line"></i> <span>Authentication</span></a>
              <nav class="nav nav-sub">
                <a href="../pages-rtl/sign-in.html" class="nav-sub-link">Sign In Basic</a>
                <a href="../pages-rtl/sign-in-2.html" class="nav-sub-link">Sign In Cover</a>
                <a href="../pages-rtl/sign-up.html" class="nav-sub-link">Sign Up Basic</a>
                <a href="../pages-rtl/sign-up-2.html" class="nav-sub-link">Sign Up Cover</a>
                <a href="../pages-rtl/verify-account.html" class="nav-sub-link">Verify Account</a>
                <a href="../pages-rtl/forgot-password.html" class="nav-sub-link">Forgot Password</a>
                <a href="../pages-rtl/lock-screen.html" class="nav-sub-link">Lock Screen</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-error-warning-line"></i> <span>Error Pages</span></a>
              <nav class="nav nav-sub">
                <a href="../pages-rtl/error-404.html" class="nav-sub-link">Page Not Found</a>
                <a href="../pages-rtl/error-500.html" class="nav-sub-link">Internal Server Error</a>
                <a href="../pages-rtl/error-503.html" class="nav-sub-link">Service Unavailable</a>
                <a href="../pages-rtl/error-505.html" class="nav-sub-link">Forbidden</a>
              </nav>
            </li>
            <li class="nav-item show">
              <a href="" class="nav-link has-sub active"><i class="ri-file-text-fill"></i> <span>Other Pages</span></a>
              <nav class="nav nav-sub">
                <a href="../pages-rtl/pricing.html" class="nav-sub-link">Pricing</a>
                <a href="../pages-rtl/faq.html" class="nav-sub-link active">FAQ</a>
              </nav>
            </li>
          </ul>
        </div><!-- nav-group -->
        <div class="nav-group mb-3">
          <a href="#" class="nav-label">UI Elements</a>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-pencil-ruler-2-line"></i> <span>Getting Started</span></a>
              <nav class="nav nav-sub">
                <a href="../../../../public/assets/publisher/docs/layout-grid.html" class="nav-sub-link">Grid System</a>
                <a href="../../../../public/assets/publisher/docs/layout-columns.html" class="nav-sub-link">Columns</a>
                <a href="../../../../public/assets/publisher/docs/layout-gutters.html" class="nav-sub-link">Gutters</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-suitcase-line"></i> <span>Components</span></a>
              <nav class="nav nav-sub">
                <a href="../../../../public/assets/publisher/docs/com-accordion.html" class="nav-sub-link">Accordion</a>
                <a href="../../../../public/assets/publisher/docs/com-alerts.html" class="nav-sub-link">Alerts</a>
                <a href="../../../../public/assets/publisher/docs/com-avatars.html" class="nav-sub-link">Avatars</a>
                <a href="../../../../public/assets/publisher/docs/com-badge.html" class="nav-sub-link">Badge</a>
                <a href="../../../../public/assets/publisher/docs/com-breadcrumbs.html" class="nav-sub-link">Breadcrumbs</a>
                <a href="../../../../public/assets/publisher/docs/com-buttons.html" class="nav-sub-link">Buttons</a>
                <a href="../../../../public/assets/publisher/docs/com-cards.html" class="nav-sub-link">Cards</a>
                <a href="../../../../public/assets/publisher/docs/com-carousel.html" class="nav-sub-link">Carousel</a>
                <a href="../../../../public/assets/publisher/docs/com-collapse.html" class="nav-sub-link">Collapse</a>
                <a href="../../../../public/assets/publisher/docs/com-dropdown.html" class="nav-sub-link">Dropdown</a>
                <a href="../../../../public/assets/publisher/docs/com-images.html" class="nav-sub-link">Images</a>
                <a href="../../../../public/assets/publisher/docs/com-listgroup.html" class="nav-sub-link">List Group</a>
                <a href="../../../../public/assets/publisher/docs/com-markers.html" class="nav-sub-link">Markers</a>
                <a href="../../../../public/assets/publisher/docs/com-modal.html" class="nav-sub-link">Modal</a>
                <a href="../../../../public/assets/publisher/docs/com-navtabs.html" class="nav-sub-link">Navs &amp; Tabs</a>
                <a href="../../../../public/assets/publisher/docs/com-offcanvas.html" class="nav-sub-link">Offcanvas</a>
                <a href="../../../../public/assets/publisher/docs/com-pagination.html" class="nav-sub-link">Pagination</a>
                <a href="../../../../public/assets/publisher/docs/com-placeholders.html" class="nav-sub-link">Placeholders</a>
                <a href="../../../../public/assets/publisher/docs/com-popovers.html" class="nav-sub-link">Popovers</a>
                <a href="../../../../public/assets/publisher/docs/com-progress.html" class="nav-sub-link">Progress</a>
                <a href="../../../../public/assets/publisher/docs/com-scrollspy.html" class="nav-sub-link">Scrollspy</a>
                <a href="../../../../public/assets/publisher/docs/com-spinners.html" class="nav-sub-link">Spinners</a>
                <a href="../../../../public/assets/publisher/docs/com-toasts.html" class="nav-sub-link">Toasts</a>
                <a href="../../../../public/assets/publisher/docs/com-tooltips.html" class="nav-sub-link">Tooltips</a>
                <a href="../../../../public/assets/publisher/docs/com-tables.html" class="nav-sub-link">Tables</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-list-check-2"></i> <span>Forms</span></a>
              <nav class="nav nav-sub">
                <a href="../../../../public/assets/publisher/docs/form-elements.html" class="nav-sub-link">Text Elements</a>
                <a href="../../../../public/assets/publisher/docs/form-selects.html" class="nav-sub-link">Selects</a>
                <a href="../../../../public/assets/publisher/docs/form-checksradios.html" class="nav-sub-link">Checks &amp; Radios</a>
                <a href="../../../../public/assets/publisher/docs/form-tagsmasks.html" class="nav-sub-link">Tags &amp; Masks</a>
                <a href="../../../../public/assets/publisher/docs/form-range.html" class="nav-sub-link">Range</a>
                <a href="../../../../public/assets/publisher/docs/form-pickers.html" class="nav-sub-link">Pickers</a>
                <a href="../../../../public/assets/publisher/docs/form-wizards.html" class="nav-sub-link">Wizards</a>
                <a href="../../../../public/assets/publisher/docs/form-layouts.html" class="nav-sub-link">Layouts</a>
                <a href="../../../../public/assets/publisher/docs/form-validation.html" class="nav-sub-link">Validation</a>
                <a href="../../../../public/assets/publisher/docs/form-editors.html" class="nav-sub-link">Editors</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-bar-chart-2-line"></i> <span>Charts &amp; Graphs</span></a>
              <nav class="nav nav-sub">
                <a href="../../../../public/assets/publisher/docs/chart-flot.html" class="nav-sub-link">Flot</a>
                <a href="../../../../public/assets/publisher/docs/chart-apex.html" class="nav-sub-link">Apexcharts</a>
                <a href="../../../../public/assets/publisher/docs/chart-chartjs.html" class="nav-sub-link">Chartjs</a>
                <a href="../../../../public/assets/publisher/docs/chart-peity.html" class="nav-sub-link">Peity</a>
                <a href="../../../../public/assets/publisher/docs/chart-morris.html" class="nav-sub-link">Morris</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-stack-line"></i> <span>Maps &amp; Icons</span></a>
              <nav class="nav nav-sub">
                <a href="../../../../public/assets/publisher/docs/map-leaflet.html" class="nav-sub-link">Leaflet Maps</a>
                <a href="../../../../public/assets/publisher/docs/map-vector.html" class="nav-sub-link">Vector Maps</a>
                <a href="../../../../public/assets/publisher/docs/icon-remix.html" class="nav-sub-link">Remixicon</a>
                <a href="../../../../public/assets/publisher/docs/icon-feather.html" class="nav-sub-link">Feathericons</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-briefcase-4-line"></i> <span>Utilities</span></a>
              <nav class="nav nav-sub">
                <a href="../../../../public/assets/publisher/docs/util-animation.html" class="nav-sub-link">Animation</a>
                <a href="../../../../public/assets/publisher/docs/util-background.html" class="nav-sub-link">Background</a>
                <a href="../../../../public/assets/publisher/docs/util-border.html" class="nav-sub-link">Border</a>
                <a href="../../../../public/assets/publisher/docs/util-colors.html" class="nav-sub-link">Colors</a>
                <a href="../../../../public/assets/publisher/docs/util-divider.html" class="nav-sub-link">Divider</a>
                <a href="../../../../public/assets/publisher/docs/util-flex.html" class="nav-sub-link">Flex</a>
                <a href="../../../../public/assets/publisher/docs/util-sizing.html" class="nav-sub-link">Sizing</a>
                <a href="../../../../public/assets/publisher/docs/util-spacing.html" class="nav-sub-link">Spacing</a>
                <a href="../../../../public/assets/publisher/docs/util-opacity.html" class="nav-sub-link">Opacity</a>
                <a href="../../../../public/assets/publisher/docs/util-position.html" class="nav-sub-link">Position</a>
                <a href="../../../../public/assets/publisher/docs/util-typography.html" class="nav-sub-link">Typography</a>
                <a href="../../../../public/assets/publisher/docs/util-shadows.html" class="nav-sub-link">Shadows</a>
                <a href="../../../../public/assets/publisher/docs/util-extras.html" class="nav-sub-link">Extras</a>
              </nav>
            </li>
          </ul>
        </div><!-- nav-group -->
      </div><!-- sidebar-body -->
      <div class="sidebar-footer">
        <div class="sidebar-footer-top">
          <div class="sidebar-footer-thumb">
            <img src="../../../../public/assets/publisher/assets/img/img1.jpg" alt="">
          </div><!-- sidebar-footer-thumb -->
          <div class="sidebar-footer-body">
            <h6><a href="../pages-rtl/profile.html">Shaira Diaz</a></h6>
            <p>Premium Member</p>
          </div><!-- sidebar-footer-body -->
          <a id="sidebarFooterMenu" href="" class="dropdown-link"><i class="ri-arrow-down-s-line"></i></a>
        </div><!-- sidebar-footer-top -->
        <div class="sidebar-footer-menu">
          <nav class="nav">
            <a href=""><i class="ri-edit-2-line"></i> Edit Profile</a>
            <a href=""><i class="ri-profile-line"></i> View Profile</a>
          </nav>
          <hr>
          <nav class="nav">
            <a href=""><i class="ri-question-line"></i> Help Center</a>
            <a href=""><i class="ri-lock-line"></i> Privacy Settings</a>
            <a href=""><i class="ri-user-settings-line"></i> Account Settings</a>
            <a href=""><i class="ri-logout-box-r-line"></i> Log Out</a>
          </nav>
        </div><!-- sidebar-footer-menu -->
      </div><!-- sidebar-footer -->
    </div><!-- sidebar -->

    <div class="main-mobile-header doc-mobile-header">
      <a id="menuLink" href="#" class="menu-link"><i class="ri-menu-line"></i></a>
    </div><!-- main-mobile-header -->

    <div class="main main-faq p-4 p-lg-5">
      <ol class="breadcrumb fs-sm mb-2">
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item"><a href="#">Other Pages</a></li>
        <li class="breadcrumb-item active" aria-current="page">FAQ</li>
      </ol>
      <h2 class="main-title mb-3">Frequently Asked Questions</h2>
      <div class="row g-5">
        <div class="col-xl">
          <p class="text-secondary mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          <div class="form-search py-2 mb-5">
            <i class="ri-search-line"></i>
            <input type="text" class="form-control" placeholder="Search">
          </div><!-- form-search -->

          <div class="accordion accordion-faq" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What are tax summaries?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body pt-0">
                  <p>Tax summaries provide a summary of the income earned during an income year and the taxes paid on your behalf. Tax summaries are provided for both US sourced and Australian sourced income.</p>
                  <p>There are 3 types of tax summaries:</p>
                  <ol>
                    <li>Form 1099 (US Citizens, or persons that do not provide details regarding tax residence);</li>
                    <li>Form 1042 (non-US Citizens); and</li>
                    <li>Australian withholding tax payment summaries.</li>
                  </ol>

                  <p>The IRS requires Envato to provide you with either a Form 1099 or a Form 1042 for income which is deemed to have a US source (subject to certain exceptions).</p>
                  <p>The Australian Tax Office similarly requires Envato to provide an Australian payment summary for Australian sourced income.</p>
                  <p class="mb-0">This information may be used when completing your tax return (and potentially claiming a credit for any taxes paid on your behalf), so make sure you give them to your tax advisor/accountant.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How do I access my tax summary?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body pt-0">
                  <p>Tax summaries are available electronically from your account settings, but we’ve made a slight change in how you access them to help protect your information.</p>
                  <p>Previously the ‘Tax Summaries’ option was available for everyone from the Author Tools menu in your account settings once you were logged in. Now, you will need to enable Two-Factor Authentication (2FA) before this option is visible, as well as update your preferences in ‘Tax Information’ - also available under Author Tools.</p>
                  <p><strong>Please follow these steps to view your tax summary</strong></p>
                  <ol>
                    <li>Once you’re logged into your account, go to your settings and under the “Author Tools” section on the left, click on Tax Information.</li>
                    <li>At the top of the Tax Information section you will be able to ‘opt in’ to view your online Tax Summary by ticking ‘Access Digital Tax Summaries’</li>
                  </ol>

                  <p class="mb-0"><i><strong>Please note:</strong> You can opt-out of having your tax summary available digitally at any time, as well as disabling 2FA, however, we don’t recommend this.</i></p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Why has tax been withheld from my earnings?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body pt-0">
                  <p>Envato is required by law to withhold certain taxes from your earnings as an author. The relevant section of the author agreement says:</p>
                  <p><i>If required by law, we may deduct or withhold taxes (including withholding tax) in connection with your being an author. If so, we will give you relevant document that’s required by law about the deduction or withholding (like documentation allowing you to access rebates or credits, or to manage your tax affairs).</i></p>
                  <p>As an Australian company, Envato Elements Pty Ltd is required to withhold Australian Royalty Withholding Tax (AU RWT) from earnings paid out to authors located in other countries. The tax rate that applies can vary between 0% and 30%, depending on the tax treaty (if any) between Australia and your country.</p>
                  <p>We use the country information from your tax form (W8/W9) to calculate the amount to withhold. So please make sure you keep this information up to date if you move countries.</p>
                  <p class="mb-0">If taxes are withheld from your earnings, we will provide you with a relevant document each year to help you manage your tax affairs, for example, to claim a credit on your tax return for the amount withheld.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Why would a customer ask for my tax information?
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body pt-0">
                  <p>From time to time you may receive requests from customers requesting a certificate of residency from you.</p>
                  <p>There are a number of reasons why they might be doing this, a couple are:</p>
                  <ul>
                    <li>Some countries, such as Poland, require customers to submit certain tax information that includes information about where they have purchased from, and how much they paid.</li>
                    <li>Some companies, such as US companies, may have a code of business conduct that requires proper certification from you as to your tax residency status.</li>
                  </ul>
                  <p class="mb-0">Please note that if you do not provide your tax information to the customer, they may not be able to purchase your item.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Do I need to pay taxes on my Envato Market earnings?
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body pt-0">
                  <p>Any earnings that you receive from Envato Market are your responsibility to manage appropriately within your local country. We cannot provide advice on how you should proceed to pay taxes on your author earnings as tax laws vary greatly from country to country.</p>
                  <p>We encourage you to seek out professional advice on tax-law and filing taxes. While the specifics of your country’s tax laws might be different, there’s a good chance that your government still wants you to declare your income.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  What happens to funds that are held by Envato?
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body pt-0">
                  <p>It is Envato’s policy to suspend access to and prohibit the removal of funds from author accounts that Envato determines are related to individuals located in or associated with restricted countries. Funds held in suspended accounts will be held by Envato until the user is permitted to receive them. If you believe your account has been suspended in error, please <a href="">contact us</a> immediately.</p>
                </div>
              </div>
            </div>
          </div>

        </div><!-- col -->
        <div class="col-md-6 col-lg-7 col-xl-4 col-xxl-3">
          <h5 class="section-title mb-4">NPM Installation</h5>

          <nav class="nav nav-classic">
            <a href="" class="nav-link"><span>Common errors when intalling NPM</span></a>
            <a href="" class="nav-link"><span>NPM for Windows</span></a>
            <a href="" class="nav-link"><span>Cannot install npm in Mac</span></a>
            <a href="" class="nav-link"><span>NPM does not recognize in local</span></a>
            <a href="" class="nav-link"><span>NPM version not showing when doing command</span></a>
          </nav>

          <hr class="my-4 opacity-0">

          <h5 class="section-title mb-4">Bootstrap Installation</h5>
          <nav class="nav nav-classic">
            <a href="" class="nav-link"><span>Common errors when intalling Bootstrap</span></a>
            <a href="" class="nav-link"><span>Migrating from Bootstrap 4</span></a>
            <a href="" class="nav-link"><span>Bootstrap using Webpack</span></a>
            <a href="" class="nav-link"><span>Bootstrap react components</span></a>
            <a href="" class="nav-link"><span>Example of bootsrap page using navbar</span></a>
          </nav>

          <hr class="my-4 opacity-0">

          <h5 class="section-title mb-4">SASS Customization</h5>
          <nav class="nav nav-classic">
            <a href="" class="nav-link"><span>Minimize sass to css without bootstrap</span></a>
            <a href="" class="nav-link"><span>Adding more utilities classes in sass</span></a>
          </nav>
        </div><!-- col -->
      </div><!-- row -->

      <div class="main-footer">
        <span>&copy; 2023. Dashbyte. All Rights Reserved.</span>
        <span>Created by: <a href="https://maxvalue.media" target="_blank">MaxValue Center</a></span>
      </div><!-- main-footer -->
    </div><!-- main -->

    <script src="../../../../public/assets/publisher/lib/jquery/jquery.min.js"></script>
    <script src="../../../../public/assets/publisher/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../../public/assets/publisher/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <script src="../../../../public/assets/publisher/assets/js/script.js"></script>
    <script>
      'use strict'
    </script>
  </body>
</html>
