<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Themepixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../../public/assets/publisher/assets/img/favicon.png">

    <title>DashByte - Premium Dashboard Template</title>

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="../../../public/assets/publisher/lib/remixicon/fonts/remixicon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../../../public/assets/publisher/assets/css/style.min.css">
  </head>
  <body class="sidebar-offset">

    <div class="sidebar">
      <div class="sidebar-header">
        <a href="" class="sidebar-logo">dashbyte</a>
      </div><!-- sidebar-header -->
      <div id="sidebarMenu" class="sidebar-body">
        <div class="nav-group show">
          <a href="" class="nav-label">Dashboard</a>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="dashboard/finance.html" class="nav-link"><i class="ri-pie-chart-2-line"></i> <span>Finance Monitoring</span></a>
            </li>
            <li class="nav-item">
              <a href="dashboard/events.html" class="nav-link"><i class="ri-calendar-todo-line"></i> <span>Events Management</span></a>
            </li>
            <li class="nav-item">
              <a href="dashboard/sales.html" class="nav-link"><i class="ri-shopping-bag-3-line"></i> <span>Sales Monitoring</span></a>
            </li>
            <li class="nav-item">
              <a href="dashboard/index.blade.php" class="nav-link"><i class="ri-bar-chart-2-line"></i> <span>Website Analytics</span></a>
            </li>
            <li class="nav-item">
              <a href="dashboard/crypto.html" class="nav-link"><i class="ri-coin-line"></i> <span>Cryptocurrency</span></a>
            </li>
            <li class="nav-item">
              <a href="dashboard/helpdesk.html" class="nav-link"><i class="ri-service-line"></i> <span>Helpdesk Service</span></a>
            </li>
            <li class="nav-item">
              <a href="dashboard/storage.html" class="nav-link"><i class="ri-hard-drive-2-line"></i> <span>Storage Management</span></a>
            </li>
            <li class="nav-item">
              <a href="dashboard/product.html" class="nav-link"><i class="ri-suitcase-2-line"></i> <span>Product Management</span></a>
            </li>
          </ul>
        </div><!-- nav-group -->
        <div class="nav-group show">
          <a href="" class="nav-label">Applications</a>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="apps/file-manager.html" class="nav-link"><i class="ri-folder-2-line"></i> <span>File Manager</span></a>
            </li>
            <li class="nav-item">
              <a href="apps/email.html" class="nav-link"><i class="ri-mail-send-line"></i> <span>Email</span></a>
            </li>
            <li class="nav-item">
              <a href="apps/calendar.html" class="nav-link"><i class="ri-calendar-line"></i> <span>Calendar</span></a>
            </li>
            <li class="nav-item">
              <a href="apps/chat.html" class="nav-link"><i class="ri-question-answer-line"></i> <span>Chat</span></a>
            </li>
            <li class="nav-item">
              <a href="apps/contact.html" class="nav-link"><i class="ri-contacts-book-line"></i> <span>Contacts</span></a>
            </li>
            <li class="nav-item">
              <a href="apps/tasks.html" class="nav-link"><i class="ri-checkbox-multiple-line"></i> <span>Task Manager</span></a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-gallery-line"></i> <span>Media Gallery</span></a>
              <nav class="nav nav-sub">
                <a href="apps/gallery-music.html" class="nav-sub-link">Music Stream</a>
                <a href="apps/gallery-video.html" class="nav-sub-link">Video Stream</a>
              </nav>
            </li>
          </ul>
        </div><!-- nav-group -->
        <div class="nav-group show">
          <a href="" class="nav-label">Pages</a>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-account-circle-line"></i> <span>User Pages</span></a>
              <nav class="nav nav-sub">
                <a href="pages/profile.html" class="nav-sub-link">User Profile</a>
                <a href="pages/people.html" class="nav-sub-link">People &amp; Groups</a>
                <a href="pages/activity.html" class="nav-sub-link">Activity Log</a>
                <a href="pages/events.html" class="nav-sub-link">Events</a>
                <a href="pages/settings.html" class="nav-sub-link">Settings</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-lock-2-line"></i> <span>Authentication</span></a>
              <nav class="nav nav-sub">
                <a href="pages/sign-in.blade.php" class="nav-sub-link">Sign In Basic</a>
                <a href="pages/sign-in-2.html" class="nav-sub-link">Sign In Cover</a>
                <a href="pages/sign-up.blade.php" class="nav-sub-link">Sign Up Basic</a>
                <a href="pages/sign-up-referral.blade.php" class="nav-sub-link">Sign Up Cover</a>
                <a href="pages/verify-account.html" class="nav-sub-link">Verify Account</a>
                <a href="pages/forgot-password.html" class="nav-sub-link">Forgot Password</a>
                <a href="pages/lock-screen.html" class="nav-sub-link">Lock Screen</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-error-warning-line"></i> <span>Error Pages</span></a>
              <nav class="nav nav-sub">
                <a href="pages/error-404.html" class="nav-sub-link">Page Not Found</a>
                <a href="pages/error-500.html" class="nav-sub-link">Internal Server Error</a>
                <a href="pages/error-503.html" class="nav-sub-link">Service Unavailable</a>
                <a href="pages/error-505.html" class="nav-sub-link">Forbidden</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-file-text-line"></i> <span>Other Pages</span></a>
              <nav class="nav nav-sub">
                <a href="pages/pricing.html" class="nav-sub-link">Pricing</a>
                <a href="pages/faq.html" class="nav-sub-link">FAQ</a>
              </nav>
            </li>
          </ul>
        </div><!-- nav-group -->
        <div class="nav-group show mb-3">
          <a href="" class="nav-label">UI Elements</a>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-pencil-ruler-2-line"></i> <span>Getting Started</span></a>
              <nav class="nav nav-sub">
                <a href="../../../public/assets/publisher/docs/layout-grid.html" class="nav-sub-link">Grid System</a>
                <a href="../../../public/assets/publisher/docs/layout-columns.html" class="nav-sub-link">Columns</a>
                <a href="../../../public/assets/publisher/docs/layout-gutters.html" class="nav-sub-link">Gutters</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-suitcase-line"></i> <span>Components</span></a>
              <nav class="nav nav-sub">
                <a href="../../../public/assets/publisher/docs/com-accordion.html" class="nav-sub-link">Accordion</a>
                <a href="../../../public/assets/publisher/docs/com-alerts.html" class="nav-sub-link">Alerts</a>
                <a href="../../../public/assets/publisher/docs/com-avatars.html" class="nav-sub-link">Avatars</a>
                <a href="../../../public/assets/publisher/docs/com-badge.html" class="nav-sub-link">Badge</a>
                <a href="../../../public/assets/publisher/docs/com-breadcrumbs.html" class="nav-sub-link">Breadcrumbs</a>
                <a href="../../../public/assets/publisher/docs/com-buttons.html" class="nav-sub-link">Buttons</a>
                <a href="../../../public/assets/publisher/docs/com-cards.html" class="nav-sub-link">Cards</a>
                <a href="../../../public/assets/publisher/docs/com-carousel.html" class="nav-sub-link">Carousel</a>
                <a href="../../../public/assets/publisher/docs/com-collapse.html" class="nav-sub-link">Collapse</a>
                <a href="../../../public/assets/publisher/docs/com-dropdown.html" class="nav-sub-link">Dropdown</a>
                <a href="../../../public/assets/publisher/docs/com-images.html" class="nav-sub-link">Images</a>
                <a href="../../../public/assets/publisher/docs/com-listgroup.html" class="nav-sub-link">List Group</a>
                <a href="../../../public/assets/publisher/docs/com-markers.html" class="nav-sub-link">Markers</a>
                <a href="../../../public/assets/publisher/docs/com-modal.html" class="nav-sub-link">Modal</a>
                <a href="../../../public/assets/publisher/docs/com-navtabs.html" class="nav-sub-link">Navs &amp; Tabs</a>
                <a href="../../../public/assets/publisher/docs/com-offcanvas.html" class="nav-sub-link">Offcanvas</a>
                <a href="../../../public/assets/publisher/docs/com-pagination.html" class="nav-sub-link">Pagination</a>
                <a href="../../../public/assets/publisher/docs/com-placeholders.html" class="nav-sub-link">Placeholders</a>
                <a href="../../../public/assets/publisher/docs/com-popovers.html" class="nav-sub-link">Popovers</a>
                <a href="../../../public/assets/publisher/docs/com-progress.html" class="nav-sub-link">Progress</a>
                <a href="../../../public/assets/publisher/docs/com-scrollspy.html" class="nav-sub-link">Scrollspy</a>
                <a href="../../../public/assets/publisher/docs/com-spinners.html" class="nav-sub-link">Spinners</a>
                <a href="../../../public/assets/publisher/docs/com-toasts.html" class="nav-sub-link">Toasts</a>
                <a href="../../../public/assets/publisher/docs/com-tooltips.html" class="nav-sub-link">Tooltips</a>
                <a href="../../../public/assets/publisher/docs/com-tables.html" class="nav-sub-link">Tables</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-list-check-2"></i> <span>Forms</span></a>
              <nav class="nav nav-sub">
                <a href="../../../public/assets/publisher/docs/form-elements.html" class="nav-sub-link">Text Elements</a>
                <a href="../../../public/assets/publisher/docs/form-selects.html" class="nav-sub-link">Selects</a>
                <a href="../../../public/assets/publisher/docs/form-checksradios.html" class="nav-sub-link">Checks &amp; Radios</a>
                <a href="../../../public/assets/publisher/docs/form-tagsmasks.html" class="nav-sub-link">Tags &amp; Masks</a>
                <a href="../../../public/assets/publisher/docs/form-range.html" class="nav-sub-link">Range</a>
                <a href="../../../public/assets/publisher/docs/form-pickers.html" class="nav-sub-link">Pickers</a>
                <a href="../../../public/assets/publisher/docs/form-wizards.html" class="nav-sub-link">Wizards</a>
                <a href="../../../public/assets/publisher/docs/form-layouts.html" class="nav-sub-link">Layouts</a>
                <a href="../../../public/assets/publisher/docs/form-validation.html" class="nav-sub-link">Validation</a>
                <a href="../../../public/assets/publisher/docs/form-editors.html" class="nav-sub-link">Editors</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-bar-chart-2-line"></i> <span>Charts &amp; Graphs</span></a>
              <nav class="nav nav-sub">
                <a href="../../../public/assets/publisher/docs/chart-flot.html" class="nav-sub-link">Flot</a>
                <a href="../../../public/assets/publisher/docs/chart-apex.html" class="nav-sub-link">ApexCharts</a>
                <a href="../../../public/assets/publisher/docs/chart-chartjs.html" class="nav-sub-link">Chartjs</a>
                <a href="../../../public/assets/publisher/docs/chart-peity.html" class="nav-sub-link">Peity</a>
                <a href="../../../public/assets/publisher/docs/chart-morris.html" class="nav-sub-link">Morris</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-stack-line"></i> <span>Maps &amp; Icons</span></a>
              <nav class="nav nav-sub">
                <a href="../../../public/assets/publisher/docs/map-leaflet.html" class="nav-sub-link">Leaflet Maps</a>
                <a href="../../../public/assets/publisher/docs/map-vector.html" class="nav-sub-link">Vector Maps</a>
                <a href="../../../public/assets/publisher/docs/icon-remix.html" class="nav-sub-link">Remixicon</a>
                <a href="../../../public/assets/publisher/docs/icon-feather.html" class="nav-sub-link">Feathericons</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-briefcase-4-line"></i> <span>Utilities</span></a>
              <nav class="nav nav-sub">
                <a href="../../../public/assets/publisher/docs/util-animation.html" class="nav-sub-link">Animation</a>
                <a href="../../../public/assets/publisher/docs/util-background.html" class="nav-sub-link">Background</a>
                <a href="../../../public/assets/publisher/docs/util-border.html" class="nav-sub-link">Border</a>
                <a href="../../../public/assets/publisher/docs/util-colors.html" class="nav-sub-link">Colors</a>
                <a href="../../../public/assets/publisher/docs/util-divider.html" class="nav-sub-link">Divider</a>
                <a href="../../../public/assets/publisher/docs/util-flex.html" class="nav-sub-link">Flex</a>
                <a href="../../../public/assets/publisher/docs/util-sizing.html" class="nav-sub-link">Sizing</a>
                <a href="../../../public/assets/publisher/docs/util-spacing.html" class="nav-sub-link">Spacing</a>
                <a href="../../../public/assets/publisher/docs/util-opacity.html" class="nav-sub-link">Opacity</a>
                <a href="../../../public/assets/publisher/docs/util-position.html" class="nav-sub-link">Position</a>
                <a href="../../../public/assets/publisher/docs/util-typography.html" class="nav-sub-link">Typography</a>
                <a href="../../../public/assets/publisher/docs/util-shadows.html" class="nav-sub-link">Shadows</a>
                <a href="../../../public/assets/publisher/docs/util-extras.html" class="nav-sub-link">Extras</a>
              </nav>
            </li>
          </ul>
        </div><!-- nav-group -->
      </div><!-- sidebar-body -->
      <div class="sidebar-footer">
        <div class="sidebar-footer-top">
          <div class="sidebar-footer-thumb">
            <img src="../../../public/assets/publisher/assets/img/img1.jpg" alt="">
          </div><!-- sidebar-footer-thumb -->
          <div class="sidebar-footer-body">
            <h6><a href="pages/profile.html">Shaira Diaz</a></h6>
            <p>Premium Member</p>
          </div><!-- sidebar-footer-body -->
          <a id="sidebarFooterMenu" href="" class="dropdown-link"><i class="ri-arrow-down-s-line"></i></a>
        </div><!-- sidebar-footer-top -->
        <div class="sidebar-footer-menu">
          <nav class="nav">
            <a href=""><i class="ri-edit-2-line"></i> Edit Profile</a>
            <a href=""><i class="ri-profile-line"></i> View Profile</a>
          </nav>
          <hr>
          <nav class="nav">
            <a href=""><i class="ri-question-line"></i> Help Center</a>
            <a href=""><i class="ri-lock-line"></i> Privacy Settings</a>
            <a href=""><i class="ri-user-settings-line"></i> Account Settings</a>
            <a href=""><i class="ri-logout-box-r-line"></i> Log Out</a>
          </nav>
        </div><!-- sidebar-footer-menu -->
      </div><!-- sidebar-footer -->
    </div><!-- sidebar -->

    <div class="landing-headline">
      <div class="landing-header px-4 px-sm-5">
        <a id="menuSidebarOffset" href="" class="menu-link me-3"><i class="ri-menu-4-line"></i></a>
        <a href="" class="sidebar-logo">dashbyte</a>
        <nav class="nav nav-icon">
          <a href="" class="nav-link"><i class="ri-twitter-line"></i></a>
          <a href="" class="nav-link"><i class="ri-facebook-circle-line"></i></a>
          <a href="" class="nav-link"><i class="ri-instagram-line"></i></a>
          <a href="" class="nav-link"><i class="ri-youtube-line"></i></a>
        </nav>
      </div><!-- landing-header -->
      <div class="landing-body d-flex flex-column-reverse flex-lg-row align-items-center p-4 px-sm-5 py-lg-0">
        <div class="headline-text mt-5 mt-lg-0">
          <label class="text-primary mb-2">Responsive React &amp; Bootstrap 5 Dashboard Template</label>
          <h1 class="text-dark mb-3 ff-secondary">Best template designs for your dashboard projects</h1>
          <h4 class="fw-light lh-4 mb-4 lh-5">When it comes to <strong class="text-dark fw-medium">dashboard</strong> or <strong class="text-dark fw-medium">web apps</strong>, one of the first impression you consider is the <strong class="text-dark fw-medium">design</strong>. It needs to be <strong class="text-dark fw-medium">high quality</strong> enough, otherwise you will lose potential users due to bad design.</h4>
          <div class="d-flex gap-2">
            <div class="dropdown">
              <a href="" class="btn btn-white dropdown-link" data-bs-toggle="dropdown"><span>HTML</span> <i class="ri-arrow-down-s-line"></i></a>
              <div id="dropdownDemo" class="dropdown-menu">
                <div class="dropdown-item active" data-location="dashboard/sales.html">HTML</div>
                <div class="dropdown-item" data-location="http://dashbyte-react.themepixels.me/dashboard/finance">React</div>
              </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
            <a id="viewDemo" href="dashboard/sales.html" target="_blank" class="btn btn-lg btn-white">View Demo</a>
            <a href="https://themeforest.net/item/dashbyte-bootstrap-5-dashboard-admin-template/43422638" class="btn btn-lg btn-primary">Buy Now</a>
          </div>
          <div class="landing-icons mt-4 gap-2">
            <div class="icon-bootstrap"><i class="fa-brands fa-bootstrap"></i></div>
            <div class="icon-html5"><i class="fa-brands fa-html5"></i></div>
            <div class="icon-css3"><i class="fa-brands fa-css3-alt"></i></div>
            <div class="icon-sass"><i class="fa-brands fa-sass"></i></div>
            <div class="icon-js"><i class="fa-brands fa-square-js"></i></div>
            <div class="icon-npm"><i class="fa-brands fa-npm"></i></div>
            <div class="icon-gulp"><i class="fa-brands fa-gulp"></i></div>
            <div class="divider"></div>
            <div class="icon-react"><i class="ri-reactjs-line"></i></div>
          </div>
        </div>
        <div class="headline-content">
          <div class="img-item one"><img src="../../../public/assets/publisher/assets/img/screen1.png" alt=""></div>
          <div class="img-item two"><img src="../../../public/assets/publisher/assets/img/screen2.png" alt=""></div>
          <div class="img-item three"><img src="../../../public/assets/publisher/assets/img/screen3.png" alt=""></div>
        </div><!-- headline-content -->
      </div><!-- landing-body -->
    </div><!-- landing-headline -->

    <div class="landing-section bg-ui-03 text-white">
      <div class="container-fluid px-4 px-sm-5">
        <h2 class="text-center ff-secondary mb-3">8 Dashboard Template Demo</h2>
        <p class="landing-text mb-2 mb-lg-4">When your dashboard or app is attractive to use, your users will not simply be using it, they’ll look forward to using it. This means that you should fashion the look and feel of your interface for your users.</p>

        <br><br>

        <div class="row g-4 g-sm-5">
          <div class="col-sm-6 col-xl-3">
            <div class="card card-dashboard-demo mb-3">
              <img src="../../../public/assets/publisher/assets/img/dashboard1.png" alt="">
              <div>
                <a href="dashboard/sales.html" target="_blank" class="btn btn-primary">View Demo</a>
              </div>
            </div><!-- card -->
            <h6 class="mb-0">Sales Monitoring</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-xl-3">
            <div class="card card-dashboard-demo mb-3">
              <img src="../../../public/assets/publisher/assets/img/dashboard2.png" alt="">
              <div>
                <a href="dashboard/index.blade.php" target="_blank" class="btn btn-primary">View Demo</a>
              </div>
            </div><!-- card -->
            <h6 class="mb-0">Website Analytics</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-xl-3">
            <div class="card card-dashboard-demo mb-3">
              <img src="../../../public/assets/publisher/assets/img/dashboard3.png" alt="">
              <div>
                <a href="dashboard/crypto.html" target="_blank" class="btn btn-primary">View Demo</a>
              </div>
            </div><!-- card -->
            <h6 class="mb-0">Cryptocurrency</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-xl-3">
            <div class="card card-dashboard-demo mb-3">
              <img src="../../../public/assets/publisher/assets/img/dashboard4.png" alt="">
              <div>
                <a href="dashboard/finance.html" target="_blank" class="btn btn-primary">View Demo</a>
              </div>
            </div><!-- card -->
            <h6 class="mb-0">Finance Monitoring</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-xl-3">
            <div class="card card-dashboard-demo mb-3">
              <img src="../../../public/assets/publisher/assets/img/dashboard5.png" alt="">
              <div>
                <a href="dashboard/helpdesk.html" target="_blank" class="btn btn-primary">View Demo</a>
              </div>
            </div><!-- card -->
            <h6 class="mb-0">Helpdesk Service</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-xl-3">
            <div class="card card-dashboard-demo mb-3">
              <img src="../../../public/assets/publisher/assets/img/dashboard6.png" alt="">
              <div>
                <a href="dashboard/events.html" target="_blank" class="btn btn-primary">View Demo</a>
              </div>
            </div><!-- card -->
            <h6 class="mb-0">Events Management</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-xl-3">
            <div class="card card-dashboard-demo mb-3">
              <img src="../../../public/assets/publisher/assets/img/dashboard7.png" alt="">
              <div>
                <a href="dashboard/storage.html" target="_blank" class="btn btn-primary">View Demo</a>
              </div>
            </div><!-- card -->
            <h6 class="mb-0">Storage Management</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-xl-3">
            <div class="card card-dashboard-demo mb-3">
              <img src="../../../public/assets/publisher/assets/img/dashboard8.png" alt="">
              <div>
                <a href="dashboard/product.html" target="_blank" class="btn btn-primary">View Demo</a>
              </div>
            </div><!-- card -->
            <h6 class="mb-0">Product Management</h6>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container-fluid -->
    </div><!-- landing-section -->

    <div class="landing-section bg-white">
      <div class="container-fluid px-4 px-sm-5">
        <h2 class="text-dark text-center ff-secondary mb-3">3 Sidebar Color Skins</h2>
        <p class="landing-text mb-2 mb-lg-4 text-secondary">Responsive dashboard design is the approach that suggests that design and development should respond to the user’s behavior and environment based on screen size, platform and orientation.</p>

        <br><br>

        <div class="row g-5 justify-content-center">
          <div class="col-md-6 col-lg-4">
            <div class="card card-sidebar-demo">
              <img src="../../../public/assets/publisher/assets/img/sidebar1.png" alt="" class="img-fluid">
            </div><!-- card -->
          </div><!-- col -->
          <div class="col-md-6 col-lg-4">
            <div class="card card-sidebar-demo">
              <img src="../../../public/assets/publisher/assets/img/sidebar2.png" alt="" class="img-fluid">
            </div><!-- card -->
          </div><!-- col -->
          <div class="col-md-6 col-lg-4">
            <div class="card card-sidebar-demo">
              <img src="../../../public/assets/publisher/assets/img/sidebar3.png" alt="" class="img-fluid">
            </div><!-- card -->
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container-fluid -->
    </div><!-- landing-section -->

    <div class="landing-section bg-gray-200">
      <div class="container-fluid px-4 px-sm-5">
        <h2 class="text-dark text-center ff-secondary mb-3">Light &amp; Dark Template Mode</h2>
        <p class="landing-text text-secondary mb-2 mb-lg-4">When it comes to dashboard or web apps, one of the first impression you consider is the design. It needs to be high quality enough, otherwise you will lose potential users due to bad design.</p>

        <br><br>

        <div class="row g-4 g-sm-5 justify-content-center">
          <div class="col-md-6 col-xl-5">
            <div class="card card-dashboard-demo mb-3">
              <img src="../../../public/assets/publisher/assets/img/dashboard1.png" alt="">
            </div><!-- card -->
          </div><!-- col -->
          <div class="col-md-6 col-xl-5">
            <div class="card card-dashboard-demo mb-3">
              <img src="../../../public/assets/publisher/assets/img/dashboard1a.png" alt="">
            </div><!-- card -->
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container-fluid -->
    </div><!-- landing-section -->

    <div class="landing-section bg-primary text-white">
      <div class="container-fluid px-4 px-sm-5">
        <h2 class="text-white text-center ff-secondary mb-3">Applications &amp; Pages</h2>
        <p class="landing-text opacity-75 mb-2 mb-lg-4">Responsive dashboard design is the approach that suggests that design and development should respond to the user’s behavior and environment based on screen size, platform and orientation.</p>

        <br><br>

        <div class="row g-4 g-md-5">
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-app-demo">
              <img src="../../../public/assets/publisher/assets/img/app1.png" alt="" class="img-fluid">
            </div><!-- card -->
            <h6 class="mt-3 mb-0">File Manager</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-app-demo">
              <img src="../../../public/assets/publisher/assets/img/app2.png" alt="" class="img-fluid">
            </div><!-- card -->
            <h6 class="mt-3 mb-0">Email Client</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-app-demo">
              <img src="../../../public/assets/publisher/assets/img/app3.png" alt="" class="img-fluid">
            </div><!-- card -->
            <h6 class="mt-3 mb-0">Calendar</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-app-demo">
              <img src="../../../public/assets/publisher/assets/img/app4.png" alt="" class="img-fluid">
            </div><!-- card -->
            <h6 class="mt-3 mb-0">Chat</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-app-demo">
              <img src="../../../public/assets/publisher/assets/img/app5.png" alt="" class="img-fluid">
            </div><!-- card -->
            <h6 class="mt-3 mb-0">Contacts</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-app-demo">
              <img src="../../../public/assets/publisher/assets/img/app6.png" alt="" class="img-fluid">
            </div><!-- card -->
            <h6 class="mt-3 mb-0">Task Manager</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-app-demo">
              <img src="../../../public/assets/publisher/assets/img/app7.png" alt="" class="img-fluid">
            </div><!-- card -->
            <h6 class="mt-3 mb-0">Music Stream</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-app-demo">
              <img src="../../../public/assets/publisher/assets/img/app8.png" alt="" class="img-fluid">
            </div><!-- card -->
            <h6 class="mt-3 mb-0">Video Stream</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-app-demo">
              <img src="../../../public/assets/publisher/assets/img/page1.png" alt="" class="img-fluid">
            </div><!-- card -->
            <h6 class="mt-3 mb-0">User Profile</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-app-demo">
              <img src="../../../public/assets/publisher/assets/img/page2.png" alt="" class="img-fluid">
            </div><!-- card -->
            <h6 class="mt-3 mb-0">People &amp; Groups</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-app-demo">
              <img src="../../../public/assets/publisher/assets/img/page3.png" alt="" class="img-fluid">
            </div><!-- card -->
            <h6 class="mt-3 mb-0">Events Manager</h6>
          </div><!-- col -->
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-app-demo">
              <img src="../../../public/assets/publisher/assets/img/page4.png" alt="" class="img-fluid">
            </div><!-- card -->
            <h6 class="mt-3 mb-0">Pricing</h6>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container-fluid -->
    </div><!-- landing-section -->

    <div class="landing-section bg-white">
      <div class="container-fluid px-4 px-sm-5">
        <h2 class="text-dark text-center ff-secondary mb-3">What's Inside</h2>
        <p class="landing-text mb-2 mb-lg-4 text-secondary">A well-designed dashboard and apps can save a lot of time and help quickly identify information that matters in order to make proper reports like avoiding clutter, highlighting important info and prioritizing metrics.</p>

        <br><br>

        <div class="row g-4 g-md-5">
          <div class="col-md-6 col-lg-4">
            <div class="d-flex">
              <div class="fs-48 me-4 lh-1"><i class="fa-brands fa-bootstrap"></i></div>
              <div class="flex-fill">
                <h5 class="fs-18 fw-semibold ff-secondary text-dark">Bootstrap 5</h5>
                <p class="text-secondary fs-15">Built using Bootstrap, the world's most popular front-end component library.</p>
              </div>
            </div>
          </div><!-- col -->
          <div class="col-md-6 col-lg-4">
            <div class="d-flex">
              <div class="fs-48 me-4 lh-1"><i class="fa-solid fa-display"></i></div>
              <div class="flex-fill">
                <h5 class="fs-18 fw-semibold ff-secondary text-dark">Fully Responsive</h5>
                <p class="text-secondary fs-15">We made it to fit on any screens from mobile to desktop.</p>
              </div>
            </div>
          </div><!-- col -->
          <div class="col-md-6 col-lg-4">
            <div class="d-flex">
              <div class="fs-48 me-4 lh-1"><i class="fa-brands fa-sass"></i></div>
              <div class="flex-fill">
                <h5 class="fs-18 fw-semibold ff-secondary text-dark">Based on Sass</h5>
                <p class="text-secondary fs-15">All styles are written with SCSS for easy customization and well organized.</p>
              </div>
            </div>
          </div><!-- col -->
          <div class="col-md-6 col-lg-4">
            <div class="d-flex">
              <div class="fs-48 me-4 lh-1"><i class="fa-solid fa-puzzle-piece"></i></div>
              <div class="flex-fill">
                <h5 class="fs-18 fw-semibold ff-secondary text-dark">Powerful Components</h5>
                <p class="text-secondary fs-15">A large collection of components to power up your dashboard or apps.</p>
              </div>
            </div>
          </div><!-- col -->
          <div class="col-md-6 col-lg-4">
            <div class="d-flex">
              <div class="fs-48 me-4 lh-1"><i class="fa-solid fa-pen-ruler"></i></div>
              <div class="flex-fill">
                <h5 class="fs-18 fw-semibold ff-secondary text-dark">Continuous Updates</h5>
                <p class="text-secondary fs-15">New demos and features will be added for a lifetime.</p>
              </div>
            </div>
          </div><!-- col -->
          <div class="col-md-6 col-lg-4">
            <div class="d-flex">
              <div class="fs-48 me-4 lh-1"><i class="fa-solid fa-life-ring"></i></div>
              <div class="flex-fill">
                <h5 class="fs-18 fw-semibold ff-secondary text-dark">Guaranteed Support</h5>
                <p class="text-secondary fs-15">We are here to respond to your concerns as much as we can.</p>
              </div>
            </div>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container-fluid -->
    </div><!-- landing-section -->

    <footer class="bg-dark">
      <div class="container-fluid p-4 px-sm-5">
        <div class="d-flex flex-column flex-lg-row gap-3 text-white">
          <span class="opacity-50">Copyright &copy; 2023. Dashbyte. All Rights Reserved.</span>
          <a href="changelog.html" class="text-white">Changelog</a>
          <a href="https://themeforest.net/licenses/standard" target="_blank" class="text-white">Licenses</a>
          <a href="https://themeforest.net/page/customer_refund_policy" target="_blank" class="text-white">Refund Policy</a>
          <span class="ms-lg-auto"><span class="opacity-50">Design &amp; Developed By:</span> <a href="https://maxvalue.media" target="_blank" class="text-white">MaxValue Center</a></span>
        </div>
      </div><!-- container-fluid -->
    </footer>


    <script src="../../../public/assets/publisher/lib/jquery/jquery.min.js"></script>
    <script src="../../../public/assets/publisher/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../public/assets/publisher/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <script src="../../../public/assets/publisher/assets/js/script.js"></script>
    <script>
      'use script'

      $('#dropdownDemo .dropdown-item').on('click', function(e){
        e.preventDefault();

        $(this).addClass('active').siblings().removeClass('active');

        var demo = $(this).text();
        $(this).closest('.dropdown').find('.dropdown-link span').text(demo);

        var loc = $(this).attr('data-location');

        $('#viewDemo').attr('href', loc);

      });
    </script>
  </body>
</html>
