<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Themepixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../../../public/assets/publisher/assets/img/favicon.png">

    <title>DashByte - Premium Dashboard Template</title>

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="../lib/remixicon/fonts/remixicon.css">
    <link rel="stylesheet" href="../lib/apexcharts/apexcharts.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../../../../public/assets/publisher/assets/css/style.min.css">
  </head>
  <body>

    <div class="sidebar">
      <div class="sidebar-header">
        <a href="../" class="sidebar-logo">dashbyte</a>
      </div><!-- sidebar-header -->
      <div id="sidebarMenu" class="sidebar-body">
        <div class="nav-group show">
          <a href="#" class="nav-label">Dashboard</a>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="../dashboard/finance.html" class="nav-link"><i class="ri-pie-chart-2-line"></i> <span>Finance Monitoring</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard/events.html" class="nav-link active"><i class="ri-calendar-todo-fill"></i> <span>Events Management</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard/sales.html" class="nav-link"><i class="ri-shopping-bag-3-line"></i> <span>Sales Monitoring</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard/analytics.html" class="nav-link"><i class="ri-bar-chart-2-line"></i> <span>Website Analytics</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard/crypto.html" class="nav-link"><i class="ri-coin-line"></i> <span>Cryptocurrency</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard/helpdesk.html" class="nav-link"><i class="ri-service-line"></i> <span>Helpdesk Service</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard/storage.html" class="nav-link"><i class="ri-hard-drive-2-line"></i> <span>Storage Management</span></a>
            </li>
            <li class="nav-item">
              <a href="../dashboard/product.html" class="nav-link"><i class="ri-suitcase-2-line"></i> <span>Product Management</span></a>
            </li>
          </ul>
        </div><!-- nav-group -->
        <div class="nav-group show">
          <a href="#" class="nav-label">Applications</a>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="../apps/file-manager.html" class="nav-link"><i class="ri-folder-2-line"></i> <span>File Manager</span></a>
            </li>
            <li class="nav-item">
              <a href="../apps/email.html" class="nav-link"><i class="ri-mail-send-line"></i> <span>Email</span></a>
            </li>
            <li class="nav-item">
              <a href="../apps/calendar.html" class="nav-link"><i class="ri-calendar-line"></i> <span>Calendar</span></a>
            </li>
            <li class="nav-item">
              <a href="../apps/chat.html" class="nav-link"><i class="ri-question-answer-line"></i> <span>Chat</span></a>
            </li>
            <li class="nav-item">
              <a href="../apps/contact.html" class="nav-link"><i class="ri-contacts-book-line"></i> <span>Contacts</span></a>
            </li>
            <li class="nav-item">
              <a href="../apps/tasks.html" class="nav-link"><i class="ri-checkbox-multiple-line"></i> <span>Task Manager</span></a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-gallery-line"></i> <span>Media Gallery</span></a>
              <nav class="nav nav-sub">
                <a href="../apps/gallery-music.html" class="nav-sub-link">Music Stream</a>
                <a href="../apps/gallery-video.html" class="nav-sub-link">Video Stream</a>
              </nav>
            </li>
          </ul>
        </div><!-- nav-group -->
        <div class="nav-group show">
          <a href="#" class="nav-label">Pages</a>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-account-circle-line"></i> <span>User Pages</span></a>
              <nav class="nav nav-sub">
                <a href="../pages/profile.html" class="nav-sub-link">User Profile</a>
                <a href="../pages/people.html" class="nav-sub-link">People &amp; Groups</a>
                <a href="../pages/activity.html" class="nav-sub-link">Activity Log</a>
                <a href="../pages/events.html" class="nav-sub-link">Events</a>
                <a href="../pages/settings.html" class="nav-sub-link">Settings</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-lock-2-line"></i> <span>Authentication</span></a>
              <nav class="nav nav-sub">
                <a href="../pages/sign-in.html" class="nav-sub-link">Sign In Basic</a>
                <a href="../pages/sign-in-2.html" class="nav-sub-link">Sign In Cover</a>
                <a href="../pages/sign-up.html" class="nav-sub-link">Sign Up Basic</a>
                <a href="../pages/sign-up-2.html" class="nav-sub-link">Sign Up Cover</a>
                <a href="../pages/verify-account.html" class="nav-sub-link">Verify Account</a>
                <a href="../pages/forgot-password.html" class="nav-sub-link">Forgot Password</a>
                <a href="../pages/lock-screen.html" class="nav-sub-link">Lock Screen</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-error-warning-line"></i> <span>Error Pages</span></a>
              <nav class="nav nav-sub">
                <a href="../pages/error-404.html" class="nav-sub-link">Page Not Found</a>
                <a href="../pages/error-500.html" class="nav-sub-link">Internal Server Error</a>
                <a href="../pages/error-503.html" class="nav-sub-link">Service Unavailable</a>
                <a href="../pages/error-505.html" class="nav-sub-link">Forbidden</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-file-text-line"></i> <span>Other Pages</span></a>
              <nav class="nav nav-sub">
                <a href="../pages/pricing.html" class="nav-sub-link">Pricing</a>
                <a href="../pages/faq.html" class="nav-sub-link">FAQ</a>
              </nav>
            </li>
          </ul>
        </div><!-- nav-group -->
        <div class="nav-group show mb-3">
          <a href="#" class="nav-label">UI Elements</a>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-pencil-ruler-2-line"></i> <span>Getting Started</span></a>
              <nav class="nav nav-sub">
                <a href="../docs/layout-grid.html" class="nav-sub-link">Grid System</a>
                <a href="../docs/layout-columns.html" class="nav-sub-link">Columns</a>
                <a href="../docs/layout-gutters.html" class="nav-sub-link">Gutters</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-suitcase-line"></i> <span>Components</span></a>
              <nav class="nav nav-sub">
                <a href="../docs/com-accordion.html" class="nav-sub-link">Accordion</a>
                <a href="../docs/com-alerts.html" class="nav-sub-link">Alerts</a>
                <a href="../docs/com-avatars.html" class="nav-sub-link">Avatars</a>
                <a href="../docs/com-badge.html" class="nav-sub-link">Badge</a>
                <a href="../docs/com-breadcrumbs.html" class="nav-sub-link">Breadcrumbs</a>
                <a href="../docs/com-buttons.html" class="nav-sub-link">Buttons</a>
                <a href="../docs/com-cards.html" class="nav-sub-link">Cards</a>
                <a href="../docs/com-carousel.html" class="nav-sub-link">Carousel</a>
                <a href="../docs/com-collapse.html" class="nav-sub-link">Collapse</a>
                <a href="../docs/com-dropdown.html" class="nav-sub-link">Dropdown</a>
                <a href="../docs/com-images.html" class="nav-sub-link">Images</a>
                <a href="../docs/com-listgroup.html" class="nav-sub-link">List Group</a>
                <a href="../docs/com-markers.html" class="nav-sub-link">Markers</a>
                <a href="../docs/com-modal.html" class="nav-sub-link">Modal</a>
                <a href="../docs/com-navtabs.html" class="nav-sub-link">Navs &amp; Tabs</a>
                <a href="../docs/com-offcanvas.html" class="nav-sub-link">Offcanvas</a>
                <a href="../docs/com-pagination.html" class="nav-sub-link">Pagination</a>
                <a href="../docs/com-placeholders.html" class="nav-sub-link">Placeholders</a>
                <a href="../docs/com-popovers.html" class="nav-sub-link">Popovers</a>
                <a href="../docs/com-progress.html" class="nav-sub-link">Progress</a>
                <a href="../docs/com-scrollspy.html" class="nav-sub-link">Scrollspy</a>
                <a href="../docs/com-spinners.html" class="nav-sub-link">Spinners</a>
                <a href="../docs/com-toasts.html" class="nav-sub-link">Toasts</a>
                <a href="../docs/com-tooltips.html" class="nav-sub-link">Tooltips</a>
                <a href="../docs/com-tables.html" class="nav-sub-link">Tables</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-list-check-2"></i> <span>Forms</span></a>
              <nav class="nav nav-sub">
                <a href="../docs/form-elements.html" class="nav-sub-link">Text Elements</a>
                <a href="../docs/form-selects.html" class="nav-sub-link">Selects</a>
                <a href="../docs/form-checksradios.html" class="nav-sub-link">Checks &amp; Radios</a>
                <a href="../docs/form-tagsmasks.html" class="nav-sub-link">Tags &amp; Masks</a>
                <a href="../docs/form-range.html" class="nav-sub-link">Range</a>
                <a href="../docs/form-pickers.html" class="nav-sub-link">Pickers</a>
                <a href="../docs/form-wizards.html" class="nav-sub-link">Wizards</a>
                <a href="../docs/form-layouts.html" class="nav-sub-link">Layouts</a>
                <a href="../docs/form-validation.html" class="nav-sub-link">Validation</a>
                <a href="../docs/form-editors.html" class="nav-sub-link">Editors</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-bar-chart-2-line"></i> <span>Charts &amp; Graphs</span></a>
              <nav class="nav nav-sub">
                <a href="../docs/chart-flot.html" class="nav-sub-link">Flot</a>
                <a href="../docs/chart-apex.html" class="nav-sub-link">Apexcharts</a>
                <a href="../docs/chart-chartjs.html" class="nav-sub-link">Chartjs</a>
                <a href="../docs/chart-peity.html" class="nav-sub-link">Peity</a>
                <a href="../docs/chart-morris.html" class="nav-sub-link">Morris</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-stack-line"></i> <span>Maps &amp; Icons</span></a>
              <nav class="nav nav-sub">
                <a href="../docs/map-leaflet.html" class="nav-sub-link">Leaflet Maps</a>
                <a href="../docs/map-vector.html" class="nav-sub-link">Vector Maps</a>
                <a href="../docs/icon-remix.html" class="nav-sub-link">Remixicon</a>
                <a href="../docs/icon-feather.html" class="nav-sub-link">Feathericons</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link has-sub"><i class="ri-briefcase-4-line"></i> <span>Utilities</span></a>
              <nav class="nav nav-sub">
                <a href="../docs/util-animation.html" class="nav-sub-link">Animation</a>
                <a href="../docs/util-background.html" class="nav-sub-link">Background</a>
                <a href="../docs/util-border.html" class="nav-sub-link">Border</a>
                <a href="../docs/util-colors.html" class="nav-sub-link">Colors</a>
                <a href="../docs/util-divider.html" class="nav-sub-link">Divider</a>
                <a href="../docs/util-flex.html" class="nav-sub-link">Flex</a>
                <a href="../docs/util-sizing.html" class="nav-sub-link">Sizing</a>
                <a href="../docs/util-spacing.html" class="nav-sub-link">Spacing</a>
                <a href="../docs/util-opacity.html" class="nav-sub-link">Opacity</a>
                <a href="../docs/util-position.html" class="nav-sub-link">Position</a>
                <a href="../docs/util-typography.html" class="nav-sub-link">Typography</a>
                <a href="../docs/util-shadows.html" class="nav-sub-link">Shadows</a>
                <a href="../docs/util-extras.html" class="nav-sub-link">Extras</a>
              </nav>
            </li>
          </ul>
        </div><!-- nav-group -->
      </div><!-- sidebar-body -->
      <div class="sidebar-footer">
        <div class="sidebar-footer-top">
          <div class="sidebar-footer-thumb">
            <img src="../../../../public/assets/publisher/assets/img/img1.jpg" alt="">
          </div><!-- sidebar-footer-thumb -->
          <div class="sidebar-footer-body">
            <h6><a href="../pages/profile.html">Shaira Diaz</a></h6>
            <p>Premium Member</p>
          </div><!-- sidebar-footer-body -->
          <a id="sidebarFooterMenu" href="" class="dropdown-link"><i class="ri-arrow-down-s-line"></i></a>
        </div><!-- sidebar-footer-top -->
        <div class="sidebar-footer-menu">
          <nav class="nav">
            <a href=""><i class="ri-edit-2-line"></i> Edit Profile</a>
            <a href=""><i class="ri-profile-line"></i> View Profile</a>
          </nav>
          <hr>
          <nav class="nav">
            <a href=""><i class="ri-question-line"></i> Help Center</a>
            <a href=""><i class="ri-lock-line"></i> Privacy Settings</a>
            <a href=""><i class="ri-user-settings-line"></i> Account Settings</a>
            <a href=""><i class="ri-logout-box-r-line"></i> Log Out</a>
          </nav>
        </div><!-- sidebar-footer-menu -->
      </div><!-- sidebar-footer -->
    </div><!-- sidebar -->

    <div class="header-main px-3 px-lg-4">
      <a id="menuSidebar" href="#" class="menu-link me-3 me-lg-4"><i class="ri-menu-2-fill"></i></a>

      <div class="form-search me-auto">
        <input type="text" class="form-control" placeholder="Search">
        <i class="ri-search-line"></i>
      </div><!-- form-search -->

      <div class="dropdown dropdown-skin">
        <a href="" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><i class="ri-settings-3-line"></i></a>
        <div class="dropdown-menu dropdown-menu-end mt-10-f">
          <label>Skin Mode</label>
          <nav id="skinMode" class="nav nav-skin">
            <a href="" class="nav-link active">Light</a>
            <a href="" class="nav-link">Dark</a>
          </nav>
          <hr>
          <label>Sidebar Skin</label>
          <nav id="sidebarSkin" class="nav nav-skin">
            <a href="" class="nav-link active">Default</a>
            <a href="" class="nav-link">Prime</a>
            <a href="" class="nav-link">Dark</a>
          </nav>
          <hr>
          <label>Direction</label>
          <nav id="layoutDirection" class="nav nav-skin">
            <a href="" class="nav-link active">LTR</a>
            <a href="" class="nav-link">RTL</a>
          </nav>
        </div><!-- dropdown-menu -->
      </div><!-- dropdown -->

      <div class="dropdown dropdown-notification ms-3 ms-xl-4">
        <a href="" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><small>3</small><i class="ri-notification-3-line"></i></a>
        <div class="dropdown-menu dropdown-menu-end mt-10-f me--10-f">
          <div class="dropdown-menu-header">
            <h6 class="dropdown-menu-title">Notifications</h6>
          </div><!-- dropdown-menu-header -->
          <ul class="list-group">
            <li class="list-group-item">
              <div class="avatar online"><img src="../../../../public/assets/publisher/assets/img/img10.jpg" alt=""></div>
              <div class="list-group-body">
                <p><strong>Dominador Manuel</strong> and <strong>100 other people</strong> reacted to your comment "Tell your partner that...</p>
                <span>Aug 20 08:55am</span>
              </div><!-- list-group-body -->
            </li>
            <li class="list-group-item">
              <div class="avatar online"><img src="../../../../public/assets/publisher/assets/img/img11.jpg" alt=""></div>
              <div class="list-group-body">
                <p><strong>Angela Ighot</strong> tagged you and <strong>9 others</strong> in a post.</p>
                <span>Aug 18 10:30am</span>
              </div><!-- list-group-body -->
            </li>
            <li class="list-group-item">
              <div class="avatar"><span class="avatar-initial bg-primary">a</span></div>
              <div class="list-group-body">
                <p>New listings were added that match your search alert <strong>house for rent</strong></p>
                <span>Aug 15 08:10pm</span>
              </div><!-- list-group-body -->
            </li>
            <li class="list-group-item">
              <div class="avatar online"><img src="../../../../public/assets/publisher/assets/img/img14.jpg" alt=""></div>
              <div class="list-group-body">
                <p>Reminder: <strong>Jerry Cuares</strong> invited you to like <strong>Cuares Surveying Services</strong>. <br><a href="">Accept</a> or <a href="">Decline</a></p>
                <span>Aug 14 11:50pm</span>
              </div><!-- list-group-body -->
            </li>
            <li class="list-group-item">
              <div class="avatar online"><img src="../../../../public/assets/publisher/assets/img/img15.jpg" alt=""></div>
              <div class="list-group-body">
                <p><strong>Dyanne Aceron</strong> reacted to your post <strong>King of the Bed</strong>.</p>
                <span>Aug 10 05:30am</span>
              </div><!-- list-group-body -->
            </li>
          </ul>
          <div class="dropdown-menu-footer"><a href="">Show all Notifications</a></div>
        </div><!-- dropdown-menu -->
      </div><!-- dropdown -->
      <div class="dropdown dropdown-profile ms-3 ms-xl-4">
          <a href="" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><div class="avatar online"><img src="../../../../public/assets/publisher/assets/img/img1.jpg" alt=""></div></a>
          <div class="dropdown-menu dropdown-menu-end mt-10-f">
            <div class="dropdown-menu-body">
              <div class="avatar avatar-xl online mb-3"><img src="../../../../public/assets/publisher/assets/img/img1.jpg" alt=""></div>
              <h5 class="mb-1 text-dark fw-semibold">Shaira Diaz</h5>
              <p class="fs-sm text-secondary">Premium Member</p>

              <nav class="nav">
                <a href=""><i class="ri-edit-2-line"></i> Edit Profile</a>
                <a href=""><i class="ri-profile-line"></i> View Profile</a>
              </nav>
              <hr>
              <nav class="nav">
                <a href=""><i class="ri-question-line"></i> Help Center</a>
                <a href=""><i class="ri-lock-line"></i> Privacy Settings</a>
                <a href=""><i class="ri-user-settings-line"></i> Account Settings</a>
                <a href=""><i class="ri-logout-box-r-line"></i> Log Out</a>
              </nav>
            </div><!-- dropdown-menu-body -->
          </div><!-- dropdown-menu -->
      </div><!-- dropdown -->
    </div><!-- header-main -->

    <div class="main main-app p-3 p-lg-4">
      <div class="d-md-flex align-items-center justify-content-between mb-4">
        <div>
          <ol class="breadcrumb fs-sm mb-1">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Events Management</li>
          </ol>
          <h4 class="main-title mb-0">Welcome to Dashboard</h4>
        </div>
        <div class="d-flex align-items-center gap-2 mt-3 mt-md-0">
          <button type="button" class="btn btn-white btn-icon"><i class="ri-share-line fs-18 lh-1"></i></button>
          <button type="button" class="btn btn-white btn-icon"><i class="ri-printer-line fs-18 lh-1"></i></button>
          <button type="button" class="btn btn-primary btn-icon"><i class="ri-bar-chart-2-line fs-18 lh-1"></i></button>
        </div>
      </div>

      <div class="row g-3">
        <div class="col-xl-6">
          <div class="card card-one card-ticket-earnings">
            <div class="card-body d-flex flex-column p-4">
              <h1 class="card-value mb-3 fs-40 ls--2"><span>$</span>14,869.95</h1>
              <label class="card-label fw-semibold text-dark mb-1">Ticket Earnings</label>
              <p class="w-75 fs-sm text-secondary mb-4">Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
              <p class="mb-5"><a href="" class="btn fs-sm btn-primary">View Statements</a></p>

              <div class="d-flex gap-4 fs-sm mt-auto text-primary-dark lh-1 opacity-75">
                <span><strong class="fw-semibold ff-numerals">11,716</strong> Tickets Sold</span>
                <span><strong class="fw-semibold ff-numerals">12,864</strong> Tickets Unsold</span>
              </div>
            </div><!-- card-body -->
            <div id="apexChart1" class="apex-chart-two d-flex align-items-end"></div>
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-xl-6">
          <div class="row g-3">
            <div class="col-12">
              <div class="card card-one card-ticket-available">
                <div class="card-body p-4">
                  <div class="d-flex justify-content-end">
                    <div class="w-45">
                      <h1 class="card-value fs-32 mb-2 ls--1">24,580</h1>
                      <label class="card-label fw-semibold text-dark mb-1">Tickets Available</label>
                      <p class="text-secondary fs-sm mb-0">Cura bitur ullam corper ultri cies nisi nam eget dui etiam rhoncus.</p>
                    </div>
                  </div>
                </div><!-- card-body -->
                <div id="apexChart2" class="apex-chart"></div>
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-sm-6">
              <div class="card card-one card-ticket-sold">
                <div class="card-body p-4">
                  <div class="d-flex flex-column align-items-center">
                    <h1 class="card-value fs-32 mb-2 ls--1">11,716</h1>
                    <label class="card-label fw-semibold text-dark mb-1">Tickets Sold</label>
                    <p class="text-secondary text-center fs-sm mb-0">Ullam corper ultricies cura bitur nisi nam eget dui etia.</p>
                  </div>
                </div><!-- card-body -->
                <div id="apexChart3" class="apex-chart"></div>
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-sm-6">
              <div class="card card-one card-ticket-sold">
                <div class="card-body p-4">
                  <div class="d-flex flex-column align-items-center">
                    <h1 class="card-value fs-32 mb-2 ls--1">12,864</h1>
                    <label class="card-label fw-semibold text-dark mb-1">Tickets Unsold</label>
                    <p class="text-secondary text-center fs-sm mb-0">Nam libero tempore, cum soluta nobis est eligendi.</p>
                  </div>
                </div><!-- card-body -->
                <div id="apexChart4" class="apex-chart"></div>
              </div><!-- card -->
            </div><!-- col -->
          </div>
        </div><!-- col -->
        <div class="col-xl-8">
          <div class="row g-3">
            <div class="col-6 col-sm">
              <div class="card card-one">
                <div class="card-body p-3">
                  <div class="d-block fs-40 lh-1 text-primary mb-1"><i class="ri-calendar-todo-line"></i></div>
                  <h1 class="card-value mb-0 ls--1 fs-32">358</h1>
                  <label class="d-block mb-1 fw-medium text-dark">Scheduled Events</label>
                  <small><span class="d-inline-flex text-danger">0.7% <i class="ri-arrow-down-line"></i></span> than last week</small>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-6 col-sm">
              <div class="card card-one">
                <div class="card-body p-3">
                  <div class="d-block fs-40 lh-1 text-ui-02 mb-1"><i class="ri-calendar-check-line"></i></div>
                  <h1 class="card-value mb-0 fs-32 ls--1">260</h1>
                  <label class="d-block mb-1 fw-medium text-dark">Attended Events</label>
                  <small><span class="d-inline-flex text-success">1.2% <i class="ri-arrow-up-line"></i></span> than last week</small>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-sm">
              <div class="card card-one">
                <div class="card-body p-3">
                  <div class="d-block fs-40 lh-1 text-secondary mb-1"><i class="ri-calendar-2-line"></i></div>
                  <h1 class="card-value mb-0 fs-32 ls--1">38</h1>
                  <label class="d-block mb-1 fw-medium text-dark">Cancelled Events</label>
                  <small><span class="d-inline-flex text-success">0.6% <i class="ri-arrow-up-line"></i></span> than last week</small>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-12">
              <div class="card card-one">
                <div class="card-header">
                  <h6 class="card-title">Performance Reached</h6>
                  <nav class="nav nav-icon nav-icon-sm ms-auto">
                    <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                    <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
                  </nav>
                </div><!-- card-header -->
                <div class="card-body px-3 pt-2">
                  <div id="apexChart5" class="apex-chart-three"></div>
                  <div class="table-responsive">
                    <table class="table table-agent mb-0">
                      <thead>
                        <tr>
                          <th>PerID</th>
                          <th>Name of Performer</th>
                          <th>Status</th>
                          <th>Quota</th>
                          <th>Reached</th>
                          <th>Rating</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><span class="ff-numerals">00035</span></td>
                          <td>
                            <div class="d-flex align-items-center gap-2">
                              <div class="avatar"><span class="avatar-initial">A</span></div>
                              <div>
                                <h6 class="mb-0">Allan R. Palban</h6>
                                <span class="fs-xs text-secondary">allan@themepixels.me</span>
                              </div>
                            </div>
                          </td>
                          <td><span class="badge bg-primary">Active</span></td>
                          <td><span class="ff-numerals">120</span></td>
                          <td><span class="ff-numerals">64</span></td>
                          <td>
                            <div class="d-flex gap-1 text-primary fs-16">
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-half-fill"></i>
                              <i class="ri-star-line"></i>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td><span class="ff-numerals">00028</span></td>
                          <td>
                            <div class="d-flex align-items-center gap-2">
                              <div class="avatar"><span class="avatar-initial">C</span></div>
                              <div>
                                <h6 class="card-label mb-0">Charlene S. Plateros</h6>
                                <span class="fs-xs text-secondary">charlene@themepixels.me</span>
                              </div>
                            </div>
                          </td>
                          <td><span class="badge bg-ui-02">Away</span></td>
                          <td><span class="ff-numerals">100</span></td>
                          <td><span class="ff-numerals">79</span></td>
                          <td>
                            <div class="d-flex gap-1 text-primary fs-16">
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-line"></i>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td><span class="ff-numerals">00025</span></td>
                          <td>
                            <div class="d-flex align-items-center gap-2">
                              <div class="avatar"><span class="avatar-initial bg-gray-700">A</span></div>
                              <div>
                                <h6 class="mb-0">Adrian M. Monino</h6>
                                <span class="fs-xs text-secondary">adrian@themepixels.me</span>
                              </div>
                            </div>
                          </td>
                          <td><span class="badge bg-primary">Active</span></td>
                          <td><span class="ff-numerals">130</span></td>
                          <td><span class="ff-numerals">108</span></td>
                          <td>
                            <div class="d-flex gap-1 text-primary fs-16">
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-line"></i>
                              <i class="ri-star-line"></i>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td><span class="ff-numerals">00024</span></td>
                          <td>
                            <div class="d-flex align-items-center gap-2">
                              <div class="avatar"><span class="avatar-initial">M</span></div>
                              <div>
                                <h6 class="card-label mb-0">Marianne B. Audrey</h6>
                                <span class="fs-xs text-secondary">marianne@themepixels.me</span>
                              </div>
                            </div>
                          </td>
                          <td><span class="badge bg-primary">Active</span></td>
                          <td><span class="ff-numerals">110</span></td>
                          <td><span class="ff-numerals">45</span></td>
                          <td>
                            <div class="d-flex gap-1 text-primary fs-16">
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-line"></i>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td><span class="ff-numerals">00023</span></td>
                          <td>
                            <div class="d-flex align-items-center gap-2">
                              <div class="avatar"><span class="avatar-initial bg-gray-700">C</span></div>
                              <div>
                                <h6 class="mb-0">Carlyn Y. Salomon</h6>
                                <span class="fs-xs text-secondary">carlyn@themepixels.me</span>
                              </div>
                            </div>
                          </td>
                          <td><span class="badge bg-secondary">Inactive</span></td>
                          <td><span class="ff-numerals">120</span></td>
                          <td><span class="ff-numerals">32</span></td>
                          <td>
                            <div class="d-flex gap-1 text-primary fs-16">
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-fill"></i>
                              <i class="ri-star-half-fill"></i>
                              <i class="ri-star-line"></i>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- table-responsive -->
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- col -->
        <div class="col-xl-4">
          <div class="row g-3">
            <div class="col-md-6 col-xl-12">
              <div class="card card-one">
                <div class="card-header">
                  <h6 class="card-title">Performance Rating</h6>
                  <nav class="nav nav-icon nav-icon-sm ms-auto">
                    <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                    <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
                  </nav>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="d-flex align-items-baseline gap-2 mb-0">
                    <h1 class="card-value fs-32 mb-0">4.8</h1>
                    <div class="d-flex gap-1 text-primary fs-20">
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-half-fill"></i>
                    </div>
                  </div>
                  <p class="fs-sm">Measures the quality or your event's performance.</p>

                  <table class="table table-ratings mb-0">
                    <tbody>
                      <tr>
                        <td><strong>5.0</strong></td>
                        <td>
                          <div class="d-flex gap-1 text-primary fs-16">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                          </div>
                        </td>
                        <td>4,230</td>
                        <td>58%</td>
                      </tr>
                      <tr>
                        <td><strong>4.0</strong></td>
                        <td>
                          <div class="d-flex gap-1 text-primary fs-16">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                          </div>
                        </td>
                        <td>1,416</td>
                        <td>24%</td>
                      </tr>
                      <tr>
                        <td><strong>3.0</strong></td>
                        <td>
                          <div class="d-flex gap-1 text-primary fs-16">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                            <i class="ri-star-line"></i>
                          </div>
                        </td>
                        <td>980</td>
                        <td>16%</td>
                      </tr>
                      <tr>
                        <td><strong>2.0</strong></td>
                        <td>
                          <div class="d-flex gap-1 text-primary fs-16">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                            <i class="ri-star-line"></i>
                            <i class="ri-star-line"></i>
                          </div>
                        </td>
                        <td>798</td>
                        <td>12%</td>
                      </tr>
                      <tr>
                        <td><strong>1.0</strong></td>
                        <td>
                          <div class="d-flex gap-1 text-primary fs-16">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                            <i class="ri-star-line"></i>
                            <i class="ri-star-line"></i>
                            <i class="ri-star-line"></i>
                          </div>
                        </td>
                        <td>401</td>
                        <td>8%</td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-md-6 col-xl-12">
              <div class="card card-one">
                <div class="card-header">
                  <h6 class="card-title">Events Categories</h6>
                  <nav class="nav nav-icon nav-icon-sm ms-auto">
                    <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                    <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
                  </nav>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="chartjs-three"><canvas id="chartJS1"></canvas></div>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- col -->
        <div class="col-md-6 col-xl-4">
          <div class="card card-one card-events-category">
            <div class="card-header">
              <h6 class="card-title">Events By Category</h6>
              <nav class="nav nav-icon nav-icon-sm ms-auto">
                <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
              </nav>
            </div><!-- card-header -->
            <div class="card-body p-3">
              <div class="chart-donut-two mb-4"><canvas id="chartDonut"></canvas></div>
              <div class="row g-4">
                <div class="col-6">
                  <label class="fs-sm fw-medium mb-1">Festivals</label>
                  <h3 class="card-value mb-2">6,000 <small>40%</small></h3>
                  <div class="progress ht-5 mb-0">
                    <div class="progress-bar w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div><!-- col -->
                <div class="col-6">
                  <label class="fs-sm fw-medium mb-1">Sports</label>
                  <h3 class="card-value mb-2">3,750 <small>25%</small></h3>
                  <div class="progress ht-5 mb-0">
                    <div class="progress-bar bg-ui-02 w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div><!-- col -->
                <div class="col-6">
                  <label class="fs-sm fw-medium mb-1">Concerts</label>
                  <h3 class="card-value mb-2">3,000 <small>20%</small></h3>
                  <div class="progress ht-5 mb-0">
                    <div class="progress-bar bg-gray-700 w-80" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div><!-- col -->
                <div class="col-6">
                  <label class="fs-sm fw-medium mb-1">Concerts</label>
                  <h3 class="card-value mb-2">2,250 <small>15%</small></h3>
                  <div class="progress ht-5 mb-0">
                    <div class="progress-bar bg-gray-500 w-85" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-md-6 col-xl-4">
          <div class="card card-one">
            <div class="card-header">
              <h6 class="card-title">Overall Reviews</h6>
              <nav class="nav nav-icon nav-icon-sm ms-auto">
                <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
              </nav>
            </div><!-- card-header -->
            <div class="card-body p-3">
              <div class="d-flex align-items-baseline gap-2 mb-0">
                <h1 class="card-value fs-32 mb-0">8.3</h1>
                <div class="d-flex gap-1 text-primary fs-20">
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-half-fill"></i>
                </div>
              </div>

              <p class="fs-sm mb-3">Measures the overall reviews and ratings of your event's performance.</p>

              <ul class="events-reviews">
                <li>
                  <div class="d-flex align-items-center mb-2">
                    <div class="avatar"><span class="avatar-initial bg-primary">D</span></div>
                    <div class="review-body">
                      <h6 class="text-dark">Dyanne Rose Aceron</h6>
                      <div class="d-flex align-items-center gap-1 text-primary">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                        <small>2 hours ago</small>
                      </div>
                    </div><!-- review-body -->
                  </div>
                  <p>Lorem ipsum dolor sit amet, consec tetur adip iscing elit, sed do eius mod...<a href="">Read more</a></p>
                </li>
                <li>
                  <div class="d-flex align-items-center mb-2">
                    <div class="avatar"><span class="avatar-initial bg-secondary">R</span></div>
                    <div class="review-body">
                      <h6 class="text-dark">Raffy Godinez</h6>
                      <div class="d-flex align-items-center gap-1 text-primary">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                        <i class="ri-star-line"></i>
                        <small>5 hours ago</small>
                      </div>
                    </div><!-- review-body -->
                  </div>
                  <p>Ut enim ad minim veniam, quis nostrud exerc nisi ut aliquip itation ullam co...<a href="">Read more</a></p>
                </li>
                <li>
                  <div class="d-flex align-items-center mb-2">
                    <div class="avatar"><span class="avatar-initial bg-secondary">R</span></div>
                    <div class="review-body">
                      <h6 class="text-dark">Reynante Labares</h6>
                      <div class="d-flex align-items-center gap-1 text-primary">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                        <i class="ri-star-line"></i>
                        <small>8 hours ago</small>
                      </div>
                    </div><!-- review-body -->
                  </div>
                  <p>Quis nostrud exerc nisi ut aliquip itation ut enim ad minim veniam ullam co...<a href="">Read more</a></p>
                </li>
              </ul>
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-xl-4">
          <div class="card card-one">
            <div class="card-header">
              <h6 class="card-title">Events This Month</h6>
              <nav class="nav nav-icon nav-icon-sm ms-auto">
                <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
              </nav>
            </div><!-- card-header -->
            <div class="card-body p-3">
              <ul class="events-list">
                <li class="active">
                  <div class="event-date">
                    <small>Sat</small>
                    <h5>03</h5>
                  </div><!-- event-date -->
                  <div class="events-body">
                    <div class="ev-item">
                      <small>08:00am - 10:30am</small>
                      <h6>Web Design Workshop</h6>
                      <p>Duis aute irure dolor in repre hen derit in volup tate velit esse cillum.</p>
                    </div><!-- event-item -->
                  </div><!-- events-body -->
                </li>
                <li>
                  <div class="event-date">
                    <small>Wed</small>
                    <h5>07</h5>
                  </div><!-- event-date -->
                  <div class="events-body">
                    <div class="ev-item">
                      <small>08:00am - 11:30am</small>
                      <h6>5th Religious Conference</h6>
                      <p>Excep teur sint occae cat cupi datat non proident sunt in culpa qui.</p>
                    </div><!-- event-item -->
                    <div class="ev-item">
                      <small>1:30pm - 5:30pm</small>
                      <h6>Church Workshop Events</h6>
                      <p>Datat non proident sunt in culpa qui.</p>
                    </div><!-- event-item -->
                  </div><!-- events-body -->
                </li>
                <li>
                  <div class="event-date">
                    <small>Thu</small>
                    <h5>08</h5>
                  </div><!-- event-date -->
                  <div class="events-body">
                    <div class="ev-item">
                      <small>08:30am - 03:30pm</small>
                      <h6>Front-End Devs Meetup</h6>
                      <p>Sed ut perspi ciatis unde omnis iste natus error sit volup tatem.</p>
                    </div><!-- event-item -->
                  </div><!-- events-body -->
                </li>
                <li>
                  <div class="event-date">
                    <small>Mon</small>
                    <h5>23</h5>
                  </div><!-- event-date -->
                  <div class="events-body">
                    <div class="ev-item">
                      <small>09:00am - 05:30pm</small>
                      <h6 class="mb-0">Golden Autumn Festival</h6>
                    </div><!-- event-item -->
                  </div><!-- events-body -->
                </li>
              </ul>
            </div>
          </div><!-- card -->
        </div><!-- col -->
      </div><!-- row -->

      <div class="main-footer mt-5">
        <span>&copy; 2023. Dashbyte. All Rights Reserved.</span>
        <span>Created by: <a href="http://themepixels.me" target="_blank">Themepixels</a></span>
      </div><!-- main-footer -->
    </div><!-- main -->


    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/chart.js/chart.min.js"></script>
    <script src="../lib/apexcharts/apexcharts.min.js"></script>

    <script src="../../../../public/assets/publisher/assets/js/script.js"></script>
    <script src="../../../../public/assets/publisher/assets/js/db.data.js"></script>
    <script src="../../../../public/assets/publisher/assets/js/db.events.js"></script>
  </body>
</html>
