html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    outline: none;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p,
h1,
h4,
h2,
h3 {
    margin: 0;
}

button {
    &:focus {
        box-shadow: none !important;
    }

    &:hover {
        opacity: 0.9;
    }
}

a:hover {
    color: $color-main;
    opacity: 0.9;
}
