.info {
    &-modal {
        .modal {
            &-header {
                border-bottom: 0;
            }

            &-dialog {
                max-width: 600px;

                @include responsive_table {
                    max-width: 80%;
                }

                @include responsive_mobile {
                    max-width: 100%;
                }
            }

            &-footer {
                border-top: 0;

                & > button {
                    padding: 7px 24px;
                    font-size: 1.6rem;
                    border: 1.4px solid $color-main;

                    &.btn-secondary {
                        color: $color-main;
                        background-color: transparent;
                    }

                    &.btn-primary {
                        background-color: $color-main;
                    }
                }
            }
        }

        .payment__info {
            &-customer {
                padding: 8px 10px 0px;
                @include gridBox(2, 0px, 14px);

                @include responsive_mobile {
                    padding: 0px 8px 0px;
                    @include gridBox(1, 0px, 14px);
                }
            }

            &-group {
                &:last-child,
                &:first-child {
                    grid-column: 1/3;

                    @include responsive_mobile {
                        grid-column: auto;
                    }
                }
            }
        }
    }
}
